.font-size-16px{
	font-size: 1.6rem;
}

.toolbar,
.seq-toolbar {
	background-color: #fff;
	padding:          1rem;
	margin-bottom:    1rem;
}

.toolbar-border-top,
.seq-toolbar-border-top {
	border-radius: 3px 3px 0 0;
	border-top:    3px solid #d2d6de;
}

.toolbar-border-bottom,
.seq-toolbar-border-bottom {
	border-radius: 0 0 3px 3px;
	border-bottom: 3px solid #d2d6de;
}

.visible-inline-block{
	display: inline-block!important;
}
