{% load staticfiles %}
{% load aspirantes_extras %}
<div class="box box-widget widget-user-2">
	<!-- Add the bg color to the header using any of the bg-* classes -->
	<div class="widget-user-header bg-blue">
		<div class="widget-user-image">
			<img class="img-circle" src="{% static "img/student-icon-128.png" %}" alt="User Avatar">
		</div>
		<!-- /.widget-user-image -->
		<h3 class="widget-user-username">{{ request.user.get_full_name }}</h3>
		<h5 class="widget-user-desc">Aspirante {{ aspirante.folio }}</h5>
	</div>
	<div class="box-footer no-padding">
		<ul class="nav nav-stacked">
			<li><a href="{% url 'aspirantes:create_blank_survey' %}">Cuestionario CENEVAL <span class="pull-right badge {% change_color_box porcentaje %}">{% if porcentaje == 100 %}
				<i class="ion ion-checkmark-round"></i>{% else %}{{ porcentaje }}%{% endif %}</span></a></li>
			<li><a href="#">Domicilio <span class="pull-right badge {% if aspirante.has_domicilio %}bg-green{% else %}bg-red{% endif %}"><i
					class="ion {% if aspirante.has_domicilio %}ion ion-checkmark-round{% else %}ion-close-round{% endif %}"></i></span></a></li>
			{% block nav_stacked %}{% endblock %}
		</ul>
	</div>
</div>
<div class="info-box {% change_color_box porcentaje %}">
	<span class="info-box-icon"><i class="ion ion-ios-help"></i></span>
	<div class="info-box-content">
		<span class="info-box-text">Cuestionario Ceneval</span>
		<span class="info-box-number"></span>

		<div class="progress">
			<div class="progress-bar" style="width: {{ porcentaje }}%"></div>
		</div>
		<span class="progress-description">
			Tiene el {{ porcentaje }}% del cuestionario contestado.
		</span>
	</div><!-- /.info-box-content -->
</div><!-- /.info-box -->
