{% extends 'base_planteles.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	{{ plantel }}
{% endblock %}

{% block optional_description %}
	<small>Panel de Control</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-3">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>{{ plantel.totales.oferta_educativa.count }}</h3>
						<p>Oferta educativa</p>
					</div>
					<div class="icon">
						<i class="fa fa-book"></i>
					</div>
					<a href="#!" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="small-box bg-green">
					<div class="inner">
						<h3>{{ plantel.totales.demanda }}</h3>

						<p>Demanda</p>
					</div>
					<div class="icon">
						<i class="fa fa-users"></i>
					</div>
					<span class="small-box-footer"><i class="fa fa-info-circle"></i></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="small-box bg-green">
					<div class="inner">
						<h3>{{ aspirantes_con_proceso_completo }}</h3>

						<p>Aspirantes con proceso completo</p>
					</div>
					<div class="icon">
						<i class="fa fa-users"></i>
					</div>
					<span class="small-box-footer"><i class="fa fa-info-circle"></i></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="small-box bg-yellow">
					<div class="inner">
						<h3>{{ aspirantes_sin_pago_count }}</h3>
						<p>Aspirantes sin pago efectuado</p>
					</div>
					<div class="icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div>
					<a href="{% url 'planteles:aspirante_sin_pago_efecutado' %}" class="small-box-footer">Mas información <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>{{ plantel.totales.capacidad }}</h3>

						<p>Aforo</p>
					</div>
					<div class="icon">
						<i class="fa fa-battery-full"></i>
					</div>
					<span class="small-box-footer"><i class="fa fa-info-circle"></i></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>{{ plantel.totales.aulas }}</h3>

						<p>Aulas</p>
					</div>
					<div class="icon">
						<i class="fa fa-university"></i>
					</div>
					<span class="small-box-footer"><i class="fa fa-info-circle"></i></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="info-box bg-green">
					<span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Porcentaje ocupado</span>
						<span class="info-box-number">{{ plantel.porcentaje_ocupado }}%</span>

						<div class="progress">
							<div class="progress-bar" style="width: {{ plantel.porcentaje_ocupado }}%"></div>
						</div>
					</div>
					<!-- /.info-box-content -->
				</div>
			</div>
		</div>
		<div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Imprimir Listas</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td width="8%"><a class="btn btn-success" href="{% url 'reportes:reportes' %}?reporte=lista_aspirante_general&param=id_plantel:{{ plantel.id }}&formato=pdf"><i class="glyphicon glyphicon-print"></i>&nbsp;General</a></td>
                                <td width="8%"><a class="btn btn-success" href="{% url 'reportes:reportes' %}?reporte=lista_aspirante_aula&param=id_plantel:{{ plantel.id }}&formato=pdf"><i class="glyphicon glyphicon-print"></i>&nbsp;Aulas</a></td>
                                <td><a class="btn btn-success" href="{% url 'reportes:reportes' %}?reporte=lista_aspirante_acuse_aula&param=id_plantel:{{ plantel.id }}&formato=pdf"><i class="glyphicon glyphicon-print"></i>&nbsp;De acuse</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        <div class="col-md-12">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Sedes alternas</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">{{ plantel.sedes_alternas.count }}</span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Sede</th>
									<th class="text-right">Capacidad</th>
									<th class="text-right">Aulas</th>
									<th class="text-right">Capacidad ocupada</th>
									<th class="text-right">Porcentaje ocupado</th>
								</tr>
							</thead>
							<tbody>
								{% for sede_alterna in plantel.sedes_alternas %}
									<tr>
										<td rowspan="2">{{ sede_alterna.referencia | upper }}</td>
										<td class="text-right">{{ sede_alterna.totales.capacidad }}</td>
										<td class="text-right">{{ sede_alterna.totales.aulas }}</td>
										<td class="text-right">{{ sede_alterna.totales.capacidad_ocupada }}</td>
										<td class="text-right">{{ sede_alterna.totales.porcentaje_ocupado }}</td>
									</tr>
                                    <tr>
                                    <td></td>
                                    <td></td>
                                    <td colspan="2" style="text-align: right">
                                        <a class="btn btn-success" href="{% url 'reportes:reportes' %}?reporte=lista_aspirante_general_alterna&param=id_sede_alterna:{{ sede_alterna.id }}&formato=pdf"><i class="glyphicon glyphicon-print"></i>&nbsp;General</a>
                                        <a class="btn btn-success" href="{% url 'reportes:reportes' %}?reporte=lista_aspirante_aula_alterna&param=id_sede_alterna:{{ sede_alterna.id }}&formato=pdf"><i class="glyphicon glyphicon-print"></i>&nbsp;Aulas</a>
                                        <a class="btn btn-success" href="{% url 'reportes:reportes' %}?reporte=lista_aspirante_acuse_aula_alterna&param=id_sede_alterna:{{ sede_alterna.id }}&formato=pdf"><i class="glyphicon glyphicon-print"></i>&nbsp;De acuse</a>
                                    </td>
                                    </tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
