{% csrf_token %}
{% for field in form %}
	<div class="form-group">
		<label for="" class="col-sm-2 control-label">{{ field.label_tag }}</label>
		<div class="col-sm-10">
			{{ field }}
		</div>
	</div>
{% endfor %}
<input type="hidden" name="fecha_inicio" id="fecha_inicio" value="{{ enlace.fecha_inicio|date:'Y-m-d' }}">
<input type="hidden" name="fecha_fin" id="fecha_fin" value="{{ enlace.fecha_fin|date:'Y-m-d' }}">
<input type="hidden" name="hora_inicio" id="hora_inicio" value="{{ enlace.hora_inicio }}">
<input type="hidden" name="hora_fin" id="hora_fin" value="{{ enlace.hora_fin }}">
