{% load administracion_extras %}

<a class="btn btn-primary" data-toggle="modal" href="#modal-stage-dates">Ver fechas del proceso</a>
<a class="btn btn-primary" href="{% url 'reportes:reportes' %}?reporte=oferta_educativa&param=id_subsistema:{{ subsistema.pk }}"><i class="glyphicon glyphicon-print"></i>&nbsp;Oferta</a>
<a class="btn btn-primary" href="{% url 'reportes:reportes' %}?reporte=aforo_avance_registro&param=id_subsistema:{{ subsistema.pk }}"><i class="glyphicon glyphicon-print"></i>&nbsp;Aforo</a>

<div class="modal fade" id="modal-stage-dates">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Calendario</h4>
			</div>
			<div class="modal-body">
				<p>Etapa del oferta: <strong>{% stage_date "oferta" %}</strong></p>
				<p>Etapa del aforo: <strong>{% stage_date "aforo" %}</strong></p>
				<p>Ajuste de oferta: <strong>{% stage_date "ajuste de oferta" %}</strong></p>
				<p>Registro: <strong>{% stage_date "registro" %}</strong></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
