{% load staticfiles %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<p><strong>Copyright &copy; 2017 <a href="http://www.seyc.gob.mx/"> Secretaría de Educación y Cultura de Quintana Roo</a>.</strong> Todos los derechos reservados.</p>
			{% comment %}<p>Desarrollo realizado por el <strong>Departamento de Desarrollo de Sistemas.</strong></p>{% endcomment %}
		</div>
		<div class="col-md-2">
			<a href="http://www.seyc.gob.mx">
				<img src="{% static "img/01_logos.png" %}" class="img-responsive" alt="">
			</a>
		</div>
	</div>
</div>
