{% if errors %}
	<div class="alert alert-warning" style="font-size: 1.5rem">
		{{ errors }}
	</div>
{% endif %}

{% if form.errors %}
	<br>
	<p class="text-danger"><strong>Tienes los siguientes errores:</strong></p>
	<div class="alert alert-danger">
		{{ form.labeled_errors }}
	</div>
{% endif %}
