{% for item in menu.menu %}
	{% if not item.submenus %}
		<li><a href="{{ item.url }}"><i class="fa fa-circle-o text-red"></i> <span>{{ item.name }}</span></a></li>
	{% else %}
		<li class="treeview active">
			<a href="#">
				<i class="fa fa-link"></i> <span>{{ item.name }}</span>
				<span class="pull-right-container">
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a>

			<ul class="treeview-menu">
				{% for sub in item.submenus %}
					<li><a href="{{ sub.url }}">{{ sub.name }}</a></li>
				{% endfor %}
			</ul>
		</li>
	{% endif %}
{% endfor %}

