{% for message in messages %}
	<div class="alert alert-{{ message.tags }}" style="font-size: 1.8rem">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		{{ message }}
	</div>
{% endfor %}
