{% extends 'base_subsistemas.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/misc.css' %}">
{% endblock %}

{% block page_header %}
	{{ subsistema }}
{% endblock %}

{% block optional_description %}
	<small>Especialidades</small>
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-9">
					<div class="alert alert-warning">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{% include "messages.html" %}
					</div>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-9">
				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title">Especialidades</h3>
						<div class="box-tools pull-right">
							<button class="btn btn-link" data-toggle="modal" data-target="#add-especialidad-modal">
								<span data-toggle="tooltip" title="Agrega una especialidad al catálogo del subsistema">
									<i class="fa fa-plus-circle"></i> Agregar especialidad
								</span>
							</button>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th width="1%">No.</th>
									<th width="30%">Nombre</th>
									<th width="40%">Descripción</th>
								</tr>
							</thead>
							<tbody>
								{% for especialidad in especialidades %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ especialidad.referencia }}</td>
										<td>{{ especialidad.descripcion|default:'No se proporcionó descripción' }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>

	{% include "especialidades/partials/add_especialidad_modal_snippet.html" %}

{% endblock %}

{% block extra_scripts %}
{% endblock %}
