{% extends 'base_subsistemas.html' %}

{% load staticfiles %}
{% load subsistema_extras %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}
	{% if error %}
		Opps...
	{% else %}
		{{ subsistema }}
	{% endif %}
{% endblock %}

{% block optional_description %}
	{% if not error %}
		<small>Subsistema</small>
	{% endif %}
{% endblock %}

{% block html %}
	<div class="content">
		{% if error %}
			{% include 'errors.html' %}
		{% else %}
			{% if messages %}
				<div class="row">
					<div class="col-md-12">
						{% include "messages_tags.html" %}
					</div>
				</div>
			{% endif %}
			<div class="row">
				<div class="col-md-12">
					{% include 'fecha_etapas.html' %}
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="small-box bg-green">
						<div class="inner">
							<h3>{{ subsistema.demanda }}</h3>

							<p>Demanda</p>
						</div>
						<div class="icon">
							<i class="fa fa-users"></i>
						</div>
						<a href="#!" class="small-box-footer"> <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-box bg-green">
						<div class="inner">
							<h3>{{ subsistema.aspirantes_con_proceso_completo }} Aspirantes</h3>

							<p>Con proceso completo</p>
						</div>
						<div class="icon">
							<i class="fa fa-users"></i>
						</div>
						<a href="#!" class="small-box-footer"> <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-box bg-yellow">
						<div class="inner">
							<h3>{{ aspirantes_con_pago_sin_proceso_completo }} Aspirantes</h3>

							<p>Con pago, sin proceso completo</p>
						</div>
						<div class="icon">
							<i class="fa fa-users"></i>
						</div>
						<a href="{% url 'subsistemas:aspirantes_con_pago_sin_pase_al_examen' %}" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-md-3">
					<div class="small-box bg-yellow">
						<div class="inner">
							<h3>{{ aspirantes_sin_pago_efectuado }} Aspirantes</h3>

							<p>Sin pago efectuado</p>
						</div>
						<div class="icon">
							<i class="fa fa-users"></i>
						</div>
						<a href="{% url 'subsistemas:aspirantes_sin_pago' %}" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>{{ planteles.count }}</h3>

							<p>Planteles</p>
						</div>
						<div class="icon">
							<i class="fa fa-bank"></i>
						</div>
						<a href="{% url 'subsistemas:planteles_create' %}" class="small-box-footer">Agregar plantel <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>{{ especialidades }}</h3>

							<p>Oferta educativa</p>
						</div>
						<div class="icon">
							<i class="fa fa-book"></i>
						</div>
						<a href="#!" class="small-box-footer"> <i class="fa fa-info-circle"></i></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">Planteles</h3>
							<div class="box-tools pull-right">
								<!-- Buttons, labels, and many other things can be placed here! -->
								<!-- Here is a label for example -->
								{% revision_submit_button %}
								{% revision_aforo_submit_button %}
							</div><!-- /.box-tools -->
						</div><!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>No.</th>
										<th>Plantel</th>
										<th>Estatus</th>
										<th>Activar/Desactivar</th>
										<th>Municipio</th>
										{% comment %}<th class="text-right">Demanda Actual</th>{% endcomment %}
										<th>Responsable</th>
										<th class="text-center">Opciones</th>
									</tr>
								</thead>
								<tbody>
									{% for plantel in planteles %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td><a href="{% url 'subsistemas:planteles_edit' plantel.pk %}">{{ plantel.referencia }}</a></td>
											<td>
												{{ plantel.status }}
											</td>
											<td>
												{% if not plantel.active %}
													<form action="{% url 'subsistemas:planteles_activate' %}" method="post" id="activate-plantel-form">
														{% csrf_token %}
														<input type="hidden" name="plantel_id" value="{{ plantel.pk }}">
														<button type="button" class="btn btn-link" data-button="enabled" data-toggle="tooltip"
																title="Al activar este plantel, éste y sus especialidades estarán disponibles para ser seleccionadas por los aspirantes">
															Activar
														</button>
													</form>
												{% else %}
													<form action="{% url 'subsistemas:planteles_deactivate' %}" method="post" id="deactivate-plantel-form">
														{% csrf_token %}
														<input type="hidden" name="plantel_id" value="{{ plantel.pk }}">
														<button class="btn btn-link" type="button" data-button="disabled" data-toggle="tooltip"
																title="Al desactivar este plantel, éste y sus especialidades no estarán disponibles para ser seleccionadas por los aspirantes">
															Desactivar
														</button>
													</form>
												{% endif %}
											</td>
											<td>{{ plantel.domicilio.localidad.municipio }}</td>
											{% comment %}<td class="text-right">
												<span data-toggle="tooltip" title="Aspirantes que eligieron este plantel como primera opcion">{{ plantel.demanda }}</span>
											</td>{% endcomment %}
											<td>{{ plantel.responsable.get_full_name }}</td>
											<td class="text-center">
												{% include 'subsistemas/partials/dropdown_button_table_snippet.html' %}
											</td>
										</tr>
									{% empty %}
										<tr>
											<td colspan="6" class="text-center">Sin resultados</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript" src="{% static "subsistemas/js/start.js" %}"></script>
{% endblock %}
