{% extends 'base_aspirantes.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "bower/AdminLTE/plugins/select2/select2.min.css" %}">
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					{% include "messages_tags.html" %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box">
				    <div class="box-header with-border">
				        <h3 class="box-title">Domicilio</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<a href="{% url 'aspirantes:profile' %}">
								<i class="ion ion-home"></i> Regresar
							</a>
						</div><!-- /.box-tools -->
				    </div><!-- /.box-header -->
				    <div class="box-body">
						{% include "profile/domicilio/domicilio_box_snippet.html" %}
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
	<input type="hidden" id="get-json-localidades" data-url="{% url 'mgeo:localidades' %}">
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/select2/select2.full.min.js" %}"></script>
	<script type="text/javascript" src="{% static "profile/js/domicilio.js" %}"></script>
{% endblock %}
