<div class="row">
	{% if not aspirante.has_domicilio %}
		<div class="col-md-12">
			<h2 class="text-center"><a href="{% url 'aspirantes:save_address' %}">Agregar domicilio</a></h2>
		</div>
	{% else %}
		<div class="col-md-12">
			<a href="#" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="" class="settings">
				<h3 class="heading">Domicilio</h3>
			</a>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label">Calle</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.domicilio.calle }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Número</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.domicilio.numero }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Colonia</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.domicilio.colonia }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">C.P.</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.domicilio.codigo_postal }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Localidad</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.domicilio.localidad }}</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<a href="{% url 'aspirantes:save_address' %}" class="pull-right">Cambiar</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>
