{% if not aspirante.domicilio %}
	<form action="{% url 'aspirantes:save_address' %}" method="post" id="address-form">
		{% csrf_token %}
		{% include 'dashboard/partials/domicilio_form_snippet.html' with form=domicilio_form %}
		<p>
			<button class="btn btn-primary btn-block">Guardar</button>
		</p>
	</form>
{% else %}
	<div class="address-form">
		<form action="{% url 'aspirantes:update_address' %}" method="post">
			{% csrf_token %}
			{% include 'dashboard/partials/domicilio_form_snippet.html' with form=domicilio_form %}
			<p>
				<button class="btn btn-primary btn-block">Actualizar</button>
			</p>
		</form>
	</div>
{% endif %}
