{% extends 'base_aspirantes.html' %}
{% load aspirantes_extras %}

{% block extra_head %}
	<style>
		.control-label{
			padding-top: 0!important;
		}
	</style>
{% endblock %}

{% block page_header %}
	Cuestionario de Contexto
{% endblock %}

{% block optional_description %}
	<small>{{ user.get_full_name }}</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="info-box {% change_color_box porcentaje %}">
					<span class="info-box-icon"><i class="ion ion-ios-help"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Cuestionario Ceneval</span>
						<span class="info-box-number"></span>

						<div class="progress">
							<div class="progress-bar" style="width: {{ porcentaje }}%"></div>
						</div>
						<span class="progress-description">
							Tiene el {{ porcentaje }}% del cuestionario contestado.
				        </span>
					</div><!-- /.info-box-content -->
				</div><!-- /.info-box -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Cuestionario CENEVAL</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<a href="{% url 'aspirantes:dashboard' %}">
								<i class="ion ion-home"></i> Regresar
							</a>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<form method="post" class="form-horizontal">
							{% csrf_token %}
							{% for pregunta in preguntas %}
								<dl>
									<dt style="margin-bottom: 1.5rem">{{ pregunta }}</dt>
									{% for child in pregunta.children_related.all %}
										<dd>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="{{ child.variable }}" class="control-label col-md-5">{{ child }}</label>
														<div class="col-md-7">
															<select name="{{ child.variable }}" id="{{ child.variable }}" class="form-control" required>
																<option value="">Seleccione...</option>
																{% for opcion in child.diccionario.respuestas_related.all %}
																	<option value="{{ opcion.id }}" {% has_already_answer child.id opcion.id cuestionario %}>{{ opcion }}</option>
																{% endfor %}
															</select>
														</div>
													</div>
												</div>
											</div>
										</dd>
									{% endfor %}
								</dl>
							{% endfor %}
							<div class="form-group">
								<div class="col-md-7 col-md-offset-5">
									<button class="btn btn-primary btn-block">Siguiente</button>
								</div>
							</div>
						</form>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
