<table class="table table-hover">
	<thead>
		<tr>
			<th>No.</th>
			<th>Nombre completo</th>
			<th>Teléfono</th>
			<th>Email</th>
			<th>Plantel</th>
		</tr>
	</thead>
	<tbody>
		{% for aspirante in list %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ aspirante.first_name }} {{ aspirante.last_name }}</td>
				<td>{{ aspirante.telefono }}</td>
				<td>{{ aspirante.email }}</td>
				<td>{{ aspirante.referencia }}</td>
			</tr>
		{% empty %}
			<tr><td colspan="4">Sin resultados</td></tr>
		{% endfor %}
	</tbody>
</table>
