{% extends 'base_subsistemas.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
Aspirantes
{% endblock %}

{% block optional_description %}
<small>Con pago, sin pase al examen</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Aspirantes</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary"></span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						{% include "aspirantes/aspirantes_snippet.html" with list=aspirantes %}
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
