{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}
Configuracion
{% endblock %}

{% block optional_description %}
<small>Miscelaneos</small>
{% endblock %}

{% block html %}
	<div class="content font-size-16px">
		<div class="row">
			<div class="col-md-10">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Miscelaneos</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						{% include "form_errors_snippet.html" %}
						<form action="{% url 'administracion:miscelaneos' %}" id="miscelaneos_form" method="post">
							{% csrf_token %}
							<table class="table">
								<thead>
									<tr>
										<th width="30%"></th>
										<th width="70%"></th>
									</tr>
								</thead>
								<tbody>
									{% for configuracion in miscelaneos %}
										<tr>
											<td><label for="row_id_{{ configuracion.id }}" class="control-label">{{ configuracion.descripcion }}</label></td>
											{% if configuracion.descripcion == "Mensaje para alumnos externos" or configuracion.descripcion == "Mensaje para público en login" or configuracion.descripcion == "Mensaje para alumnos dentro del sistema" %}
												<td>
													<textarea id="row_id_{{ configuracion.id }}" name="row_id_{{ configuracion.id }}" rows="5" class="form-control" {% if configuracion.obligatorio %}required{% endif %}>{{ configuracion.valor }}</textarea>
												</td>
											{% else %}
												<td><input type="text" class="form-control" id="row_id_{{ configuracion.id }}" name="row_id_{{ configuracion.id }}" value="{{ configuracion.valor }}" {% if configuracion.obligatorio %}required{% endif %}></td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</form>
					</div><!-- /.box-body -->
					<div class="box-footer">
						<button class="btn btn-primary" form="miscelaneos_form">Guardar</button>
					</div>
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
