<div class="row hidden" id="section-msg">
	<div class="col-md-12">
		<hr>

		<h4>
			Si tus datos no son correctos favor de comunicarte al <strong>Departamento de Educación Media</strong> de la
			<strong>SECRETARÍA DE EDUCACIÓN Y CULTURA DE QUINTANA ROO</strong>.
		</h4>
		<section style="font-size: 1.8rem">
			<p><strong>Teléfono:</strong> (983) 835 0770 ext 5006 y 5004</p>
			<p><strong>Correo electrónico:</strong> paenms.media@gmail.com</p>
			<p><strong>Facebook:</strong> https://www.facebook.com/paenmsqroo</p>
		</section>
	</div>
</div>
