{% extends 'base_aspirantes.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	Aspirante
{% endblock %}

{% block optional_description %}
	<!--suppress ALL -->
	<small>Registro</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Obtener datos del aspirantes</h3>
						<div class="box-tools pull-right">
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<p>Proporciana cualquiera de la siguiente información:</p>
						<p>Proporciona al menos uno de los datos que se te solicitan.</p>
						<br>
						<form action="{% url 'aspirantes:search_on_siceeb' %}" method="POST" class="form-horizontal" role="form" id="search-student-form" name="formSiceeb">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-4">
									<label for="name" class="control-label"> Nombre(s)</label>
									<input type="text" class="form-control" id="name" name="name">
								</div>
								<div class="col-md-4">
									<label for="first_name" class="control-label"> Primer apellido</label>
									<input type="text" class="form-control" id="first_name" name="first_name">
								</div>
								<div class="col-md-4">
									<label for="last_name" class="control-label">Segundo apellido</label>
									<input type="text" class="form-control" id="last_name" name="last_name">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label for="curp" class="control-label">CURP</label>
									<input type="text" class="form-control" id="curp" name="curp">
								</div>
							</div>
							{% if msg %}
								<div class="row">
									<div class="col-md-12">
										<h4>{{ msg }}</h4>
									</div>
								</div>
							{% endif %}
						</form>
					</div><!-- /.box-body -->
					<div class="box-footer">
						<button type="button" class="btn btn-primary" form="search-student-form" onclick="validateAndSend()">Buscar</button>
						<a href="{% url 'aspirantes:signup_matricula' %}" class="btn btn-default pull-right">Regresar</a>
					</div>
				</div><!-- /.box -->
			</div>
		</div>
		{% if alumnos %}
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">Alumno</h3>
							<div class="box-tools pull-right">
							</div><!-- /.box-tools -->
						</div><!-- /.box-header -->
						<div class="box-body">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>No.</th>
										<th>Nombre</th>
										<th>CURP</th>
										<th>Matricula</th>
									</tr>
								</thead>
								<tbody>
									{% for alumno in alumnos %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ alumno.apellido_paterno }} {{ alumno.apellido_materno }} {{ alumno.nombre }}</td>
											<td>{{ alumno.curp }}</td>
											<td>
												{% if alumno.matricula == None %}
													No tienes matricula, favor de comunicarte al área de Educación Media.
												{% else %}
													{{ alumno.matricula }}
												{% endif %}
											</td>
										</tr>
									{% empty %}
										<tr>
											<td colspan="4">Sin resultados</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block extra_scripts %}
	<script src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript">
            function validateAndSend(){
                if (formSiceeb.name.value == '' && formSiceeb.first_name.value == '' && formSiceeb.last_name.value == '' && formSiceeb.curp.value == ''){
                    bootbox.alert("Debes proporcionar por lo menos un campo de los que se solicitan")
                    return false;
                }else {
                    formSiceeb.submit()
				}
			}
	</script>
{% endblock %}
