{% extends 'base_aspirantes.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content-header %}

{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box box-primary box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Crear cuenta</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<form action="{% url 'aspirantes:signup_curp' %}" method="post">
							{% csrf_token %}
							{{ form.entidad_nacimiento }}
							{{ form.sexo }}
							{{ form.last_name }}
							<div class="row" id="search-box-curp">
								<div class="col-md-12">
									<div class="form-group">
										<label for="curp">Ingresa correctamente tu CURP</label>
										{{ form.curp }}
										<p class="help-block" style="font-size: 1.4rem">Si no sabes cual es tu CURP haz click <a
												href="https://consultas.curp.gob.mx/CurpSP/">aquí.</a></p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{% if errors %}
										<div class="alert alert-warning" style="font-size: 1.5rem">
											{{ errors }}
										</div>
									{% endif %}

									{% if form.errors %}
										<br>
										<p class="text-danger"><strong>Tienes los siguientes errores:</strong></p>
										<div class="alert alert-danger">
											{{ form.labeled_errors }}
										</div>
									{% endif %}
								</div>
							</div>
							<div class="row {% if not form.errors and not errors %}hidden{% endif %}" id="generales-section">
								<div class="col-md-12">
									{% include "registro/generales_form.html" %}
								</div>
								<div class="col-md-12">
									{% include "registro/datos_correctos_snippet.html" %}
								</div>
							</div>
							<div class="row {% if not form.errors and not errors %}hidden{% endif %}" id="credenciales-form">
								<div class="col-md-12">
									{% include "registro/credenciales_form.html" %}
								</div>
								<div class="col-md-12">
									<button class="btn btn-block btn-primary btn-lg">Continuar registro</button>
								</div>
							</div>
							{% include "registro/aviso.html" %}
						</form>
					</div>
					<!-- /.box-body -->
					<div class="overlay hidden">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" value="{% url 'aspirantes:search_curp' %}?curp=" data-url="renapo">
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript" src="{% static "registro/js/entidades.json" %}"></script>
	<script type="text/javascript" src="{% static "registro/js/curp.js" %}"></script>
	<script type="text/javascript" src="{% static "registro/js/datos_correctos.js" %}"></script>
	<script type="text/javascript" src="{% static "registro/js/con_curp.js" %}"></script>
{% endblock %}
