{% extends 'base_aspirantes.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block content-header %}

{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box box-primary box-solid">
					<div class="box-header with-border">
						<h3 class="box-title" data-widget="collapse">Crear cuenta</h3>

						<div class="box-tools pull-right">
						</div>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<input type="hidden" id="search-matricula-url" value="{% url "aspirantes:search_on_siceeb" %}">
						<form action="{% url 'aspirantes:signup_matricula' %}" method="post">
							{% csrf_token %}
							{{ form.entidad_nacimiento }}
							{{ form.sexo }}
							{{ form.last_name }}
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="">Ingresa correctamente tu matricula</label>
										{{ form.matricula }}
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{% include "form_errors_snippet.html" %}
								</div>
							</div>
							<div class="{% if not form.errors and not errors %}hidden{% endif %}" id="generales-form">
								{% include "registro/generales_form.html" %}
								<div class="row">
									<div class="col-md-12">
										<label>{{ form.curp.label }}</label>
										{{ form.curp }}
										<span id="lbl-invalid-curp" class="text-danger hidden" style="font-size: 1.8rem"><strong>Tu CURP no es válida, ingresa tu CURP correctamente.</strong></span>
										<span id="search-curp" class="text-success hidden" style="font-size: 1.8rem"><strong>Buscando...</strong></span>
										<span id="valid-curp" class="text-success hidden" style="font-size: 1.8rem"><strong>Tu CURP es válida, puedes continuar con el registro.</strong></span>
										<br><br>
									</div>
									<div class="col-md-12">
										{% include "registro/datos_correctos_snippet.html" %}
									</div>
								</div>
							</div>
							<div class="row {% if not form.errors and not errors %}hidden{% endif %}" id="credenciales-form">
								<div class="col-md-12">
									{% include "registro/credenciales_form.html" %}
									<div class="form-group">
										<button class="btn btn-block btn-lg btn-primary" data-button="sign-up">Continuar registro</button>
									</div>
								</div>
							</div>
							{% include "registro/aviso.html" %}
						</form>
					</div>
					<!-- /.box-body -->
					<div class="overlay hidden">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" value="{% url 'aspirantes:search_curp' %}?curp=" data-url="renapo">
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript" src="{% static "registro/js/entidades.json" %}"></script>
	<script type="text/javascript" src="{% static "registro/js/curp.js" %}"></script>
	<script type="text/javascript" src="{% static "registro/js/datos_correctos.js" %}"></script>
	<script type="text/javascript" src="{% static "registro/js/con_matricula.js" %}"></script>
{% endblock %}
