{% extends 'base_aspirantes.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'bower/AdminLTE/plugins/daterangepicker/daterangepicker.css' %}">
{% endblock %}

{% block content-header %}

{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box box-primary box-solid">
					<div class="box-header with-border">
						<h3 class="box-title">Crear cuenta</h3>

						<div class="box-tools pull-right">
						</div>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<form action="{% url 'aspirantes:signup_extranjero' %}" method="post">
						{% csrf_token %}
						<div class="box-body">
							<div class="row">
								<div class="col-md-12">
									{% include "form_errors_snippet.html" %}
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="">Nombre(s)</label>
									<div class="form-group">{{ form.first_name }}</div>
								</div>
								<div class="col-md-6">
									<label for="">Apellidos</label>
									<div class="form-group">{{ form.last_name }}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="">Fecha de nacimiento</label>
									<div class="form-group">{{ form.fecha_nacimiento }}</div>
								</div>
								<div class="col-md-6">
									<label for="">Género</label>
									<div class="form-group">{{ form.sexo }}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label for="">País de nacimiento</label>
									<div class="form-group">{{ form.pais_nacimiento }}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="">Usuario</label>
									<div class="form-group">{{ form.username }}</div>
								</div>
								<div class="col-md-6">
									<label for="">Correo electrónico</label>
									<div class="form-group">{{ form.email }}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="">Contraseña</label>
									<div class="form-group">{{ form.password }}</div>
								</div>
								<div class="col-md-6">
									<label for="">Repetir contraseña</label>
									<div class="form-group">{{ form.repassword }}</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<button class="btn btn-lg btn-primary btn-block">Registrarse</button>
									</div>
								</div>
							</div>
						</div>
						<!-- /.box-body -->
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static 'bower/AdminLTE/plugins/daterangepicker/moment.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bower/AdminLTE/plugins/daterangepicker/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/daterangepicker/daterangepicker-locale.es.js' %}"></script>
	<script type="text/javascript" src="{% static 'registro/js/con_extranjero.js' %}"></script>
{% endblock %}
