{% extends 'base_aspirantes.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	Aspirante
{% endblock %}

{% block optional_description %}
	<small>CURP</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Registro</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">Label</span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<input class="form-control input-lg" type="text" placeholder="Ingresa tu CURP correctamente">
						<div class="row">
							<div class="col-xs-12 col-md-3"><input type="text" class="form-control" ></div>
							<div class="col-xs-12 col-md-3"><input type="text" class="form-control" ></div>
							<div class="col-xs-12 col-md-3"><input type="text" class="form-control" ></div>
						</div>
					</div><!-- /.box-body -->
					<div class="box-footer">
						The footer of the box
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
