<div class="form-group">
	<label for="">Correo electrónico</label>
	{{ form.email }}
</div>
<div class="form-group">
	<label for="">Usuario</label>
	{{ form.username }}
</div>
<div class="form-group">
	<label for="">Contraseña</label>
	{{ form.password }}
</div>
<div class="form-group">
	<label for="">Repetir contraseña</label>
	{{ form.repassword }}
</div>
