<div class="form-group">
	<div class="alert alert-info">
		<strong>¿Los datos son correctos?</strong> <br>
		<label class="radio-inline">
			<input type="radio" name="es_correcto" value="1"> Si
		</label>
		<label class="radio-inline">
			<input type="radio" name="es_correcto" value="0"> No
		</label>
	</div>
</div>
