<div class="row">
	<div class="col-md-4">
		<label>{{ form.first_name.label }}</label>
		<div class="form-group">{{ form.first_name }}</div>
	</div>
	<div class="col-md-4">
		<label>{{ form.apellido_paterno.label }}</label>
		<div class="form-group">{{ form.apellido_paterno }}</div>
	</div>
	<div class="col-md-4">
		<label>{{ form.apellido_materno.label }}</label>
		<div class="form-group">{{ form.apellido_materno }}</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<label>{{ form.fecha_nacimiento.label }}</label>
		<div class="form-group">{{ form.fecha_nacimiento }}</div>
	</div>
	<div class="col-md-4">
		<label>{{ form.sexo_select.label }}</label>
		<div class="form-group">{{ form.sexo_select }}</div>
	</div>
	<div class="col-md-4">
		<label>{{ form.entidad_nacimiento_select.label }}</label>
		<div class="form-group">{{ form.entidad_nacimiento_select }}</div>
	</div>
</div>
