{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}
	Municipios
{% endblock %}

{% block optional_description %}
	<small>Nivel de demanda</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-10">
				{% include 'messages.html' %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Municipios</h3>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>No.</th>
									<th>Clave</th>
									<th>Nombre</th>
									<th>Cabecera</th>
									<th>Nivel de demanda</th>
								</tr>
							</thead>
							<tbody>
								{% for municipio in municipios %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ municipio.clave }}</td>
										<td>{{ municipio.nombre }}</td>
										<td>{{ municipio.cabecera }}</td>
										<td>
											<form action="#" method="post">
												{% csrf_token %}
												<input type="hidden" name="municipio" value="{{ municipio.pk }}">
												<select name="nivel_demanda" data-id="nivel-demanda" class="form-control" onchange="this.form.submit()" required>
													<option value="ALTO" {% if municipio.nivel_de_demanda == 'ALTO' %}selected{% endif %}>ALTO
													</option>
													<option value="NORMAL" {% if municipio.nivel_de_demanda == 'NORMAL' %}selected{% endif %}>NORMAL
													</option>
													<option value="BAJO" {% if municipio.nivel_de_demanda == 'BAJO' %}selected{% endif %}>BAJO
													</option>
												</select>
											</form>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
