{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	Panel de control
{% endblock %}

{% block optional_description %}
	<small>SIEM</small>
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-12">
					{% include "messages_tags.html" %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>{{ oferta_educativa }}</h3>

						<p>Especialidades</p>
					</div>
					<div class="icon">
						<i class="fa fa-book" aria-hidden="true"></i>
					</div>
					{% if not is_etapa_oferta %}
						<button class="btn btn-link btn-block small-box-footer" type="submit" form="disable-oferta-form">Desactivar oferta educativa <i
								class="fa fa-arrow-circle-right"></i></button>
						<form action="{% url 'administracion:dashboard_desactivar_oferta' %}" method="post" id="disable-oferta-form">{% csrf_token %}</form>
					{% else %}
						<span class="small-box-footer"><i class="fa fa-info-circle"></i></span>
					{% endif %}
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>{{ planteles }}</h3>

						<p>Planteles</p>
					</div>
					<div class="icon">
						<i class="fa fa-university" aria-hidden="true"></i>
					</div>
					<span class="small-box-footer"><i class="fa fa-info-circle"></i></span>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>{{ new_members }}</h3>
						<p>Nuevos aspirantes hoy</p>
					</div>
					<div class="icon">
						<i class="fa fa-users"></i>
					</div>
					<span class="small-box-footer"><i class="fa fa-info-circle"></i></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="small-box bg-green">
					<div class="inner">
						<h3>{{ oferta_revision }}</h3>
						<p>Revisión oferta</p>
					</div>
					<div class="icon">
						<i class="fa fa-list-ol"></i>
					</div>
					<a href="{% url 'administracion:revision_oferta' %}" class="small-box-footer">Ver revisiones pendientes <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="small-box bg-green">
					<div class="inner">
						<h3>{{ aforo_revision }}</h3>
						<p>Revisión aforo</p>
					</div>
					<div class="icon">
						<i class="fa fa-list-ol"></i>
					</div>
					<a href="{% url 'administracion:revision_aforo' %}" class="small-box-footer">Ver revisiones pendientes <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Planteles con mas del 50% de demanda</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">{{ planteles_list_count }}</span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>No.</th>
									<th>Plantel</th>
									<th>Subsistema</th>
									<th class="text-right">Demanda</th>
									<th class="text-right">Capacidad</th>
									<th class="text-right">Porcentaje ocupado</th>
								</tr>
							</thead>
							<tbody>
								{% for plantel in planteles_list %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ plantel.referencia }}</td>
										<td>{{ plantel.s_referencia }}</td>
										<td class="text-right">{{ plantel.p_demanda }}</td>
										<td class="text-right">{{ plantel.p_capacidad }}</td>
										<td class="text-right">{{ plantel.p_porcentaje_ocupado }}%</td>
									</tr>
								{% empty %}
									<tr>
									<td colspan="6">Sin resultados</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
