{% extends 'base_administracion.html' %}
{% load administracion_extras %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}
	Revision
{% endblock %}

{% block optional_description %}
	<small>Aforo</small>
{% endblock %}

{% block html %}
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="seq-toolbar">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
						        data-toggle="dropdown">
							Filtrar por:
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation" class="dropdown-header">Estado</li>
							<li role="presentation"><a role="menuitem" tabindex="-1"
							                           href="{% url 'administracion:revision_aforo' %}?estado=A">Aceptado</a>
							</li>
							<li role="presentation"><a role="menuitem" tabindex="-1"
							                           href="{% url 'administracion:revision_aforo' %}?estado=C">Cancelado</a>
							</li>
							<li role="presentation"><a role="menuitem" tabindex="-1"
							                           href="{% url 'administracion:revision_aforo' %}?estado=R">En
								revisión</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation" class="dropdown-header">Subsistemas</li>
							{% for subsistema in subsistemas %}
								<li role="presentation"><a role="menuitem" tabindex="-1"
								                           href="{% url 'administracion:revision_aforo' %}?subsistema={{ subsistema.pk }}">{{ subsistema }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Revisiones</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">{{ revisiones.count }}</span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<thead>
							<tr>
								<th>No.</th>
								<th>Subsistema</th>
								<th>Fecha apertura</th>
								<th>Usuario apertura</th>
								<th>Estado</th>
								<th colspan="2">Acciones</th>
								<th colspan="2">Impresión</th>
							</tr>
							</thead>
							<tbody>
							{% for revision in revisiones %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td>{{ revision.subsistema }}</td>
									<td>{{ revision.fecha_apertura }}</td>
									<td>{{ revision.usuario_apertura.get_full_name }}</td>
									<td>{{ revision.get_estado_display }}</td>
									<td width="6%">

										<form action="{% url 'administracion:aforo_aceptar' revision.id %}" method="post">
											{% csrf_token %}
											{% aforo_aceptar revision%}
										</form>


									</td>
                                    <td width="6%">

										<form action="{% url 'administracion:aforo_motivo_rechazo' %}" method="post"
										      data-form="motivo_rechazo">
											{% csrf_token %}
											<input type="hidden" name="revision_id" value="{{ revision.id }}">
											<input type="hidden" name="motivo_rechazo" id="motivo_rechazo" value="">
                                            {% aforo_rechazar revision%}
										</form>

                                    </td>
									<td width="3%">
										<a class="btn btn-info"
										   href="{% url 'reportes:reportes' %}?reporte=aforo_avance_registro&param=id_subsistema:{{ revision.subsistema.id }}&formato=pdf">PDF</a>

									</td>
                                <td width="3%">
                                    <a class="btn btn-success"
										   href="{% url 'reportes:reportes' %}?reporte=aforo_avance_registro&param=id_subsistema:{{ revision.subsistema.id }}&formato=xls">XLS</a>
                                </td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="5">Sin resultados</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript" src="{% static "revision_aforo/list.js" %}"></script>
{% endblock %}
