{% extends 'base_planteles.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
Aspirantes sin pago efecutado
{% endblock %}

{% block optional_description %}
<small>{{ plantel.referencia }}</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Aspirantes sin pago</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">{{ aspirantes_sin_pago_count }}</span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>No.</th>
									<th>Nombre completo</th>
									<th>Email</th>
									<th>Telefono</th>
								</tr>
							</thead>
							<tbody>
								{% for a in aspirantes_sin_pago %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ a.first_name }} {{ a.last_name }}</td>
										<td>{{ a.email }}</td>
										<td>{{ a.telefono }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
