{% extends 'base_administracion.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	Cambiar responsable
{% endblock %}

{% block optional_description %}
	<small>Plantel</small>
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-6">
					{% include "messages_tags.html" %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-6">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Asignar responsable</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						<form method="post">
							{% csrf_token %}
							<input type="hidden" name="plantel_id" value="{{ plantel_id }}">
							<input type="hidden" name="group_id" value="{{ group.pk }}">
							<p>
								<label for="">Nombre(s)</label>
								<input type="text" name="first_name" class="form-control" required>
							</p>
							<p>
								<label for="">Apellidos</label>
								<input type="text" name="last_name" class="form-control" required>
							</p>
							<p>
								<label for="">Correo electrónico</label>
								<input type="email" name="email" class="form-control" required>
							</p>
							<p>
								<label for="">Usuario</label>
								<input type="text" name="username" class="form-control" required>
							</p>
							<p>
								<label for="">Contraseña</label>
								<input type="password" name="password" class="form-control">
							</p>
							<p>
								<button type="submit" class="btn btn-primary">Guardar</button>
								<a href="{% url 'administracion:plantel_list' %}" class="btn btn-default pull-right">Regresar</a>
							</p>
						</form>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
