{% extends 'base_administracion.html' %}

{% load staticfiles %}
{% load administracion_extras %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
	<link rel="stylesheet" href="{% static "bower/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" %}">
{% endblock %}

{% block page_header %}
	Planteles
{% endblock %}

{% block optional_description %}
	<small>Lista</small>
{% endblock %}

{% block html %}
	<section class="content">
		{% if messages %}
			{% include "messages_tags.html" %}
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Concepto y salario mínimo</h3>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Concepto</th>
									<th width="15%" class="text-right">Salario mínimo activo</th>
									<th width="15%" class="text-right">Cantidad de salario mínimo</th>
									<th width="5%" class="text-right">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{ concepto.descripcion }}</td>
									<td class="text-right">
										<form action="{% url 'billy:create_salario_minimo' %}" method="post">
											{% csrf_token %}
											<input type="text" class="form-control text-right" name="monto" value="{{ salario_minimo.monto }}">
										</form>
									</td>
									<td class="text-right">
										<form action="{% url 'billy:update_concepto_paems' %}" method="post">
											{% csrf_token %}
											<input type="text" class="form-control text-right" name="salarios_minimos" value="{{ concepto.salarios_minimos }}">
										</form>
									</td>
									<td class="text-right">
										<strong>${{ total }}.00</strong>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Planteles</h3>
						<div class="box-tools">
							<div class="row">
								<div class="col-md-4 pull-right">
									<form role="search">
										<div class="input-group">
											<input type="text" class="form-control col-md-6" placeholder="Nombre ó CCT"
												   name="search">
											<div class="input-group-btn">
												<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
												</button>
											</div>
										</div>
									</form>
								</div>

								<div class="col-md-3 pull-right">
									<div class="dropdown pull-right">
										<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
												data-toggle="dropdown">
											Seleccionar subsistema
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
											{% for subsistema in subsistemas %}
												<li role="presentation"><a role="menuitem" tabindex="-1"
																		   href="{% url 'administracion:plantel_list' %}?subsistema={{ subsistema.pk }}">{{ subsistema }}</a>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Plantel</th>
									<th>CCT</th>
									<th>Subsistema</th>
									<th>Responsable</th>
									<th width="20%">Descuento</th>
									<th class="text-right" width="10%">Precio</th>
								</tr>
							</thead>
							<tbody>
								{% for plantel in planteles %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ plantel.referencia }}</td>
										<td>{{ plantel.cct }}</td>
										<td>{{ plantel.subsistema.referencia }}</td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default btn-block dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
													{{ plantel.responsable.get_full_name }} <span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
													<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'administracion:plantel_responsible' plantel.pk %}">Cambiar</a></li>
												</ul>
											</div>
										</td>
										<td>
											<form action="{% url 'administracion:plantel_precio' plantel.pk %}"
												  method="post" class="form-horizontal"
												  id="subsistema-form" data-form="plantel_{{ plantel.pk }}">
												{% csrf_token %}

												<input data-total="{{ total }}" data-plantel="plantel_{{ plantel.pk }}"
													   data-slider-id='discount-slider' type="text" data-slider-min="0"
													   data-slider-max="100" data-slider-step="1" data-slider-value="{{ plantel.descuento }}"
													   name="precio"/>
												<span><span data-label="plantel_{{ plantel.pk }}">{{ plantel.descuento }}%</span></span>

											</form>
										</td>
										<td>
											<div class="input-group">
												<span class="input-group-addon">$</span>
												<input class="text-right form-control" data-precio="plantel_{{ plantel.pk }}" name="precio" id="precio"
													   value="{% plantel_precio plantel.descuento total %}" required>
											</div>
										</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="4">Sin resultados</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
					<div class="box-footer">
						<label class="pull-right"><strong></strong></label>
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}"></script>
	<script type="text/javascript" src="{% static "bower/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js" %}"></script>
	<script type="text/javascript" src="{% static "planteles/js/list.js" %}"></script>
{% endblock %}
