{% csrf_token %}
{{ form.aspirante }}
<p>
	<label for="">Clave de tu secundaria de procedencia:</label>
	{{ form.cct_secundaria }}
</p>
<p>
	<label for="">Nombre de tu secundaria:</label>{{ form.nombre_secundaria }}</p>
<p>
	<label for="">Cuándo egresaste de la secundaria:</label>{{ form.fecha_egreso }}</p>
<label class="control-label">Primera vez:</label>
{% for radio in form.primera_vez %}
	<label class="checkbox-inline">
		{{ radio }}
	</label>
{% endfor %}
