<div class="row">
	{% if not aspirante.has_informacion_procedencia %}
		<h2 class="text-center"><a href="{% url 'aspirantes:informacion_procedencia' %}">Agregar información de procedencia</a></h2>
	{% else %}
		<div class="col-md-12">
			<a href="#" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="" class="settings">
				<h3 class="heading">Información de procedencia</h3>
			</a>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label">CCT</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.informacion_de_procedencia_related.cct_secundaria }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Escuela</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.informacion_de_procedencia_related.nombre_secundaria }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Fecha egreso</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.informacion_de_procedencia_related.fecha_egreso }}</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Primera vez</label>
					<div class="col-sm-9">
						<p class="form-control-static">{{ aspirante.informacion_de_procedencia_related.get_primera_vez_display }}</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<a href="{% url 'aspirantes:informacion_procedencia' %}" class="pull-right">Cambiar</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>
