<form action="{% url 'aspirantes:informacion_procedencia' %}" method="post">
	{% include 'profile/informacion_procedencia/form_snippet.html' with form=procedencia_info_form %}
	<br><br>
	<p>
		<button class="btn btn-primary btn-block">Guardar</button>
	</p>
</form>
