{% extends 'base_aspirantes.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "bower/AdminLTE/plugins/daterangepicker/daterangepicker.css" %}">
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					{% include "messages_tags.html" %}
				</div>
			</div>
		{% endif %}

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Información de procedencia</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<a href="{% url 'aspirantes:profile' %}">
								<i class="ion ion-home"></i> Regresar</a>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						{% include "profile/informacion_procedencia/information_of_origin_box.html" %}
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/daterangepicker/moment.min.js" %}"></script>
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/daterangepicker/daterangepicker.js" %}"></script>
	<script type="text/javascript" src="{% static "profile/js/domicilio.js" %}"></script>
	<script type="text/javascript">
        (function () {
            var spanish      = {
                format: "YYYY-MM-DD",
                applyLabel: "Aceptar",
                cancelLabel: "Cancelar",
                fromLabel: "De",
                toLabel: "Hasta",
                daysOfWeek: [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sab"
                ],
                monthNames: [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ]
            };
            var $fechaEgreso = $('#fecha_egreso');
            $fechaEgreso.daterangepicker({
                singleDatePicker: true,
                showDropdowns: true,
                locale: spanish
            })
        }())
	</script>
{% endblock %}
