{% load staticfiles %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/x-icon" href="{% static "img/iconoseyc.png" %}">
		<title>{% block title %}SIEM - Sistema de Ingreso a la Educación Media.{% endblock %}</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.6 -->
		<link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{% static "bower/font-awesome/css/font-awesome.min.css" %}">
		<!-- Ionicons -->
		{% comment %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">{% endcomment %}

		{% block extra_head %}{% endblock %}

		<!-- Theme style -->
		<link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">
		<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        -->
		<link rel="stylesheet" href="{% static "adminlte/dist/css/skins/skin-blue.min.css" %}">

		<!-- iCheck -->
		<link rel="stylesheet" href="{% static "adminlte/plugins/iCheck/square/blue.css" %}">
		<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
		<style>
			.muli{
				font-family: 'Muli', sans-serif;
			}
			.sys-name{
				font-size: 3rem;
				color: #787878;
				font-weight: 700;
			}
			.seq-logos {
				background-color: #fff;
				padding:          1.5rem;
			}

			.hack-padding {
				padding-top: 150px;
			}

			.main-header {
				background-color: #fff;
				padding: 2rem 0;
				max-height: none;
			}

			.content-wrapper {
				background-color: #fff;
				border-top: 5px solid #2EB8D5;
			}
			.content-wrapper > .content{
				padding-top: 1rem;
				padding-bottom: 0;
			}
			.main-footer{
				border-top: 1px solid #2EB8D5;
			}
			#qroo-logo {
				max-width: 100px;
				width:     100%;
			}

			#seq-logo {
				max-width: 266px;
				width:     100%;
			}
		</style>
	</head>
	<!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
	<body class="hold-transition skin-blue layout-top-nav">
		<div class="wrapper">
			<!-- Main Header -->
			<header class="main-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<img src="{% static 'img/logoseq.png' %}" alt="" id="seq-logo">
						</div>
						<div class="col-md-6">
							<h1 class="muli sys-name pull-right">Sistema de Ingreso a la Educación Media.</h1>
						</div>
					</div>
				</div>
			</header>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				{% block content %}
				{% endblock %}
			</div>
			<!-- /.content-wrapper -->

			<!-- Main Footer -->
			<footer class="main-footer">
				<!-- To the right -->
				<div class="pull-right hidden-xs">

				</div>
				<!-- Default to the left -->
				<strong>Copyright &copy; 2017 <a href="http://www.seyc.gob.mx/index.php"> Secretaría de Educación y Cultura de Quintana Roo</a>.</strong> Todos
				los derechos reservados.
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->

		<!-- jQuery 2.2.3 -->
		<script src="{% static "adminlte/plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
		<!-- Bootstrap 3.3.6 -->
		<script src="{% static "adminlte/bootstrap/js/bootstrap.min.js" %}"></script>
		<!-- AdminLTE App -->
		<script src="{% static "adminlte/dist/js/app.min.js" %}"></script>

		{% block extra_scripts %}{% endblock %}
	</body>
</html>
