{% load staticfiles %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/x-icon" href="{% static "img/iconoseyc.png" %}">
		<title>{% block title %}SIEM - Sistema de Ingreso a la Educación Media.{% endblock %}</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.6 -->
		<link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{% static "bower/font-awesome/css/font-awesome.min.css" %}">
		<!-- Ionicons -->
		{% comment %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">{% endcomment %}

		{% block extra_head %}{% endblock %}

		<!-- Theme style -->
		<link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">
		<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        -->
		<link rel="stylesheet" href="{% static "adminlte/dist/css/skins/skin-blue.min.css" %}">

		<!-- iCheck -->
		<link rel="stylesheet" href="{% static "adminlte/plugins/iCheck/square/blue.css" %}">
		<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
		<style>
			.muli{
				font-family: 'Muli', sans-serif;
			}
			.sys-name{
				font-size: 3rem;
				color: #787878;
				font-weight: 700;
			}
			.seq-logos {
				background-color: #fff;
				padding:          1.5rem;
			}

			.hack-padding {
				padding-top: 150px;
			}

			.main-header {
				background-color: #fff;
				padding: 2rem 0;
				max-height: none;
			}

			.content-wrapper {
				background-color: #fff;
				border-top: 5px solid #2EB8D5;
			}
			.content-wrapper > .content{
				padding-top: 1rem;
				padding-bottom: 0;
			}
			.main-footer{
				border-top: 1px solid #2EB8D5;
			}
			#qroo-logo {
				max-width: 100px;
				width:     100%;
			}

			#seq-logo {
				max-width: 266px;
				width:     100%;
			}
		</style>
	</head>
	<!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
	<body class="hold-transition skin-blue layout-top-nav">
		<div class="wrapper">

			<!-- Main Header -->
			<header class="main-header">
				<!-- Header Navbar -->{% comment %}
				<nav class="navbar navbar-static-top" role="navigation">
					<div class="container-fluid seq-logos">
						<div class="navbar-header">
							<img src="{% static 'img/logoqroo.png' %}" alt="" id="qroo-logo">
							<img src="{% static 'img/logoseq.png' %}" alt="" id="seq-logo">
						</div>
					</div>
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="{% url 'home:home' %}" class="navbar-brand"><b>SI</b>EM</a>
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
								<i class="fa fa-bars"></i>
							</button>
						</div>

						<div class="collapse navbar-collapse" id="navbar-collapse">
						</div>
					</div>
				</nav>{% endcomment %}
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<img src="{% static 'img/logoseq.png' %}" alt="" id="seq-logo">
						</div>
						<div class="col-md-6">
							<h1 class="muli sys-name pull-right">Sistema de Ingreso a la Educación Media.</h1>
						</div>
					</div>
				</div>
			</header>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<div class="content" style="width: 100%; max-width: 960px">
					<div class="row">
						<div class="col-sm-12 col-md-7" style="color: #787878">
							<h1>Proceso de <strong>asignación</strong> de Espacios al nivel <strong>Medio Superior 2017</strong></h1>
							<ul style="font-size: 2rem">
								<li>Convocatorio PAENMS 2017</li>
								<li>Catálogo de preparatorias públicas</li>
								<li>Asesoría y dudas</li>
								<li>Guía de estudios EXANI-I CENEVAL</li>
							</ul>
						</div>
						<div class="col-sm-12 col-md-5" style="padding-top: 2.5rem">
							<div class="box box-success box-solid">
								<div class="box-header with-border">
									<h3 class="box-title">Iniciar sesión</h3>
									<!-- /.box-tools -->
								</div>
								<!-- /.box-header -->
								<div class="box-body">
									<form action="{% url 'accounts:login' %}" method="post">
										{% csrf_token %}
										<div class="form-group has-feedback">
											{{ form.username }}
											<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
										</div>
										<div class="form-group has-feedback">
											{{ form.password }}
											<span class="glyphicon glyphicon-lock form-control-feedback"></span>
										</div>
										<div class="row">
											<div class="col-xs-8">
												<div class="checkbox icheck">
													<label>
														{{ form.rememberme }} Recordar
													</label>
												</div>
											</div>
											<!-- /.col -->
											<div class="col-xs-4">
												<button type="submit" class="btn btn-primary btn-block">Entrar</button>
											</div>
											<!-- /.col -->
										</div>
										<div class="row">
											<div class="col-md-12">
												<a href="{% url 'home:reset_password' %}">Olvidé mi contraseña</a>
											</div>
										</div>
									</form>
									{% if form.errors %}
										<div class="alert alert-info" role="alert">
											<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
											<span class="sr-only">Error:</span>
											Por favor introduzca su usuario y contraseña correctamente.
										</div>
									{% endif %}
									{% if messages %}
										{% include "messages_tags.html" %}
									{% endif %}
								</div>
								<!-- /.box-body -->
							</div>

							<div class="box box-success box-solid">
								<div class="box-header with-border">
									<h3 class="box-title">Crear cuenta</h3>
									<!-- /.box-tools -->
								</div>
								<!-- /.box-header -->
								<div class="box-body" style="font-size: 1.8rem">
									{% if messages %}
										{% include "messages_tags.html" %}
									{% endif %}
									<ul style="list-style: none; margin: 0; padding: 0;">
										<li><a href="{% url 'aspirantes:signup_matricula' %}">Estudio o estudié en el Estado de Quintana Roo</a></li>
										<li><hr></li>
										<li><a href="{% url 'aspirantes:signup_curp' %}">No estudié en el Estado de Quintana Roo, pero tengo CURP (Extranjeros con CURP y otros Estados)</a></li>
										<li><hr></li>
										<li><a href="{% url 'aspirantes:signup_extranjero' %}">No estudié en el Estado de Quintana Roo y no tengo CURP (Extranjeros sin CURP)</a></li>
									</ul>
								</div>
								<!-- /.box-body -->
							</div>
							{% comment %}<div class="login-box-body">
								<p class="login-box-msg">Iniciar sesión</p>
								<form action="{% url 'accounts:login' %}" method="post">
									{% csrf_token %}
									<div class="form-group has-feedback">
										{{ form.username }}
										<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
									</div>
									<div class="form-group has-feedback">
										{{ form.password }}
										<span class="glyphicon glyphicon-lock form-control-feedback"></span>
									</div>
									<div class="row">
										<div class="col-xs-8">
											<div class="checkbox icheck">
												<label>
													{{ form.rememberme }} Recordar
												</label>
											</div>
										</div>
										<!-- /.col -->
										<div class="col-xs-4">
											<button type="submit" class="btn btn-primary btn-block">Entrar</button>
										</div>
										<!-- /.col -->
									</div>
									<div class="row">
										<div class="col-md-12">
											<a href="{% url 'home:reset_password' %}">Olvidé mi contraseña</a>
										</div>
									</div>
								</form>
								{% if form.errors %}
									<div class="alert alert-info" role="alert">
										<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
										<span class="sr-only">Error:</span>
										Por favor introduzca su usuario y contraseña correctamente.
									</div>
								{% endif %}
							</div>{% endcomment %}
							{% comment %}<br>
							<div class="login-box-body">
								<p class="login-box-msg">Crear cuenta</p>
								{% if messages %}
									<div class="alert alert-info">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										<strong>Atención: </strong>
										{% include 'messages.html' %}
									</div>
								{% endif %}
								<p><a href="{% url 'aspirantes:signup_matricula' %}">Estudio o estudié en el Estado de Quintana Roo</a></p>
								<p><a href="{% url 'aspirantes:signup_curp' %}">No estudié en el Estado de Quintana Roo, pero tengo CURP (Extranjeros con CURP y otros Estados)</a></p>
								<p><a href="{% url 'aspirantes:signup_extranjero' %}">No estudié en el Estado de Quintana Roo y no tengo CURP (Extranjeros sin CURP)</a></p>
							</div>{% endcomment %}
						</div>
					</div>
				</div>
				{% comment %}<div class="content">
					<div class="row">
						<div class="col-md-12">
							<p><a href="{% url 'aspirantes:signup_matricula' %}">Estudio o estudié en el Estado de Quintana Roo</a></p>
							<p><a href="{% url 'aspirantes:signup_curp' %}">No estudié en el Estado de Quintana Rooo, pero tengo CURP</a></p>
							<p><a href="{% url 'aspirantes:signup_curp' %}">No estudié en el Estado de Quintana Rooo, pero tengo CURP</a></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<form action="{% url 'accounts:login' %}" method="post">
								{% csrf_token %}
								<div class="form-group has-feedback">
									{{ form.username }}
									<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
								</div>
								<div class="form-group has-feedback">
									{{ form.password }}
									<span class="glyphicon glyphicon-lock form-control-feedback"></span>
								</div>
								<div class="row">
									<div class="col-xs-8">
										<div class="checkbox icheck">
											<label>
												{{ form.rememberme }} Recordar
											</label>
										</div>
									</div>
									<!-- /.col -->
									<div class="col-xs-4">
										<button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
									</div>
									<!-- /.col -->
								</div>
							</form>
							{% if form.errors %}
								<div class="alert alert-danger" role="alert">
									<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
									<span class="sr-only">Error:</span>
									Por favor introduzca su usuario y contraseña correctamente.
								</div>
							{% endif %}
						</div>
					</div>
				</div>{% endcomment %}

				<!-- /.content-wrapper -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Main Footer -->
			<footer class="main-footer">
				<!-- To the right -->
				<div class="pull-right hidden-xs">

				</div>
				<!-- Default to the left -->
				<strong>Copyright &copy; 2017 <a href="http://www.seyc.gob.mx/index.php"> Secretaría de Educación y Cultura de Quintana Roo</a>.</strong> Todos
				los derechos reservados.
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->

		<!-- jQuery 2.2.3 -->
		<script src="{% static "adminlte/plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
		<!-- Bootstrap 3.3.6 -->
		<script src="{% static "adminlte/bootstrap/js/bootstrap.min.js" %}"></script>
		<!-- AdminLTE App -->
		<script src="{% static "adminlte/dist/js/app.min.js" %}"></script>

		<!-- iCheck -->
		<script src="{% static "adminlte/plugins/iCheck/icheck.min.js" %}"></script>

		<script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
		</script>

		{% block extra_scripts %}{% endblock %}

		<!-- Optionally, you can add Slimscroll and FastClick plugins.
             Both of these plugins are recommended to enhance the
             user experience. Slimscroll is required when using the
             fixed layout. -->
	</body>
</html>
