{% load staticfiles %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/x-icon" href="{% static "img/iconoseyc.png" %}">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<meta name="keywords"
			  content="SEyC, SEQ, SEyQ, Secretaría, Educación, Educacion, Cultura, maestros, docentes, escolar, escuela, becas, alumnos, escuelas arte, música, teatro, danza, gobierno, primaria, secundaria, superior, universidad, becas, padres de familia,Quintana Roo, Chetumal, Cancún, Playa del Carmen, Felipe Carrillo Puerto, Cozumel, Isla Mujeres, paenms, proceso de asignación de espacios, prepa, preparatoria, prepa quintana roo, preparatoria quintana roo">
		<meta name="rights" content="SEyC / SEQ">
		<meta name="description" content="Página oficial del Proceso de Asignación de Espacios Educación Media Superior">
		<title>{% block title %}SIEM - Sistema de Ingreso a la Educación Media.{% endblock %}</title>
		<!-- Tell the browser to be responsive to screen width -->
		<!-- Bootstrap 3.3.6 -->
		<link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{% static "bower/font-awesome/css/font-awesome.min.css" %}">
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Muli" rel="stylesheet">

		<style>
			body {
				font-family:           'Muli', sans-serif;
				background:            url("{% static "img/03_greca_gris.png" %}");
				background-repeat:     no-repeat;
				background-position:   right top;
				background-attachment: fixed;
			}

			h1, h2, h3, h4, h5, h6 {
				text-align: center;
			}

			h1, h3 {
				color: #484D4D;
			}

			h2 {
				color: #909896;
			}

			h1 {
				font-family: 'Comfortaa', sans-serif;
				font-size:   4.5rem;
			}

			h2 {
				font-size: 2rem;
			}

			h3 {
				font-size: 1.8rem;
			}

			.wrapper {

			}

			.header {
				padding: 1.5rem;
			}

			.content {
			}

			.footer {
			}

			.panel-primary {
				border-color: #00A7D4;
			}

			.panel-primary > .panel-heading {
				background-color: #00A7D4;
				border-color:     #00A7D4;
			}

			.panel-success {
				border-color: #5AAF53;
			}

			.panel-success > .panel-heading {
				background-color: #5AAF53;
				border-color:     #5AAF53;
			}

			.panel-success > .panel-heading > .panel-title {
				color: #fff;
			}

			@media (min-width: 768px) {
				body {

				}
			}

			@media (min-width: 992px) {
				body {
					background:            url("{% static "img/02_grecas.png" %}"), url("{% static "img/03_greca_gris.png" %}");
					background-size:       auto, auto;
					background-repeat:     no-repeat;
					background-position:   left top, right top;
					background-attachment: fixed, fixed;

				}

			}

			@media (min-width: 1200px) {
				body {
					background:            url("{% static "img/07_alumnos_pixlr.png" %}"), url("{% static "img/02_grecas.png" %}"), url("{% static "img/03_greca_gris.png" %}");
					background-size:       contain, auto, auto;
					background-repeat:     no-repeat;
					background-position:   left bottom, left top, right top;
					background-attachment: fixed, fixed, fixed;
				}
			}
		</style>
	</head>
	<body>
		<div class="wrapper">
			<div class="container-fluid header">
				<div class="row">
					<div class="col-xs-12">
						<img src="{% static "img/01_logos.png" %}" class="img-responsive pull-right" alt="">
					</div>
				</div>
			</div>
			<div class="container-fluid content">
				<div class="row">
					<div class="col-xs-12 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
						<h1>Educación Media Superior</h1>
						<h2>Proceso de Asignación de Espacios</h2>
						<h3>¡Consulta la convocatoria, realiza tu registro, y presenta tu examen CENEVAL!</h3>

						{% if form.errors %}
							<div class="alert alert-info" role="alert">
								<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
								<span class="sr-only">Error:</span>
								Por favor introduzca su usuario y contraseña correctamente.
							</div>
						{% endif %}
						{% if messages %}
							{% include "messages_tags.html" %}
						{% endif %}
					</div>

				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
						<h3>Información</h3>
						<nav>
							<ul class="list-group">
								<li class="list-group-item">
									<a href="{% static "media/CONVOCATORIA_PAENMS_2017.pdf" %}" target="_blank">
										Convocatoria PAENMS 2017
										<span class="glyphicon glyphicon-save pull-right" aria-hidden="true"></span>
									</a>
								</li>
								{% comment %}<li class="list-group-item">
								<a href="#">
									Catálogo de preparatorias públicas
									<span class="glyphicon glyphicon-save pull-right" aria-hidden="true"></span>
								</a>
							</li>
							<li class="list-group-item">
								<a href="#">Guía de estudios EXANI-I CENEVAL
									<span class="glyphicon glyphicon-save pull-right" aria-hidden="true"></span>
								</a>
							</li>{% endcomment %}
								<li class="list-group-item">
									<a href="http://www.facebook.com/paenmsqroo" target="_blank">Asesorías y dudas</a>
								</li>
							</ul>
						</nav>
					</div>

				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
						<h3>¿No tienes cuenta? ¡Regístrate!</h3>
						<section class="sign-up-links">
							{% include "sign_in_snippet.html" %}
						</section>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Iniciar sesión</h3>
							</div>
							<div class="panel-body">
								<form action="{% url 'accounts:login' %}" method="post">
									{% csrf_token %}
									<div class="form-group has-feedback">
										{{ form.username }}
										<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
									</div>
									<div class="form-group has-feedback">
										{{ form.password }}
										<span class="glyphicon glyphicon-lock form-control-feedback"></span>
									</div>
									<div class="row">
										<div class="col-xs-8">
											<div class="checkbox icheck">
												<label>
													{{ form.rememberme }} Mantener iniciada la sesión
												</label>
											</div>
										</div>
										<!-- /.col -->
										<div class="col-xs-4">
											<button type="submit" class="btn btn-primary btn-block">Entrar</button>
										</div>
										<!-- /.col -->
									</div>
									<div class="row">
										<div class="col-md-12">
											<a href="{% url 'home:reset_password' %}">Olvidé mi contraseña</a>
										</div>
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid footer">
				<div class="row">
					<div class="col-xs-12">
						<a href="http://www.seyc.gob.mx">
							<img src="{% static "img/05_grecas_pie_con_texto.png" %}" class="img-responsive pull-right" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static "adminlte/plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "adminlte/bootstrap/js/bootstrap.min.js" %}"></script>
		<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src   = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-41058288-2', 'auto');
            ga('send', 'pageview');

		</script>
	</body>
</html>
