{% if is_registro %}
	<nav>
		<ul class="list-group">
			<li class="list-group-item">
				<a href="{% url 'aspirantes:signup_matricula' %}">
					Estudio o estudié en el Estado de Quintana Roo
				</a>
			</li>
			<li class="list-group-item">
				<a href="{% url 'aspirantes:signup_curp' %}">
					No estudié en el Estado de Quintana Roo, pero tengo CURP (Extranjeros con CURP y otros Estados)
				</a>
			</li>
			<li class="list-group-item">
				<a href="{% url 'aspirantes:signup_extranjero' %}">
					No estudié en el Estado de Quintana Roo y no tengo CURP (Extranjeros sin CURP)
				</a>
			</li>
		</ul>
	</nav>
{% else %}
	<div class="alert alert-info text-center" style="font-size: 1.8rem">
		<strong>El registro inicia del {{ registro.apertura|date:'d \d\e F \d\e\l Y' }} al {{ registro.cierre|date:'d \d\e F \d\e\l Y' }}</strong>
	</div>
{% endif %}

