{% extends 'base_administracion.html' %}
{% load administracion_extras %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}
	{{ subsistema }}
{% endblock %}

{% block optional_description %}
	<small>Oferta educativa 2017/2016</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Oferta educativa</h3>
						<div class="box-tools pull-right">
								<form class="visible-inline-block" action="{% url "administracion:revision_oferta_aceptar"  revision.id %}" method="post">
									{% csrf_token %}
									{% oferta_aceptar revision%}
								</form>
								<form class="visible-inline-block" action="{% url 'administracion:revision_oferta_rechazar' %}" method="post"
									  data-form="motivo_rechazo">
									{% csrf_token %}
									<input type="hidden" name="revision_id" value="{{ revision.id }}">
									<input type="hidden" name="motivo_rechazo" id="motivo_rechazo" value="">
									{% oferta_rechazar revision%}
								</form>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<br>
						<table class="table table-hover">
							<thead>
								<tr>
									<th colspan="5"></th>
									<th colspan="3" class="text-center bg-aqua">2017</th>
									<th colspan="3" class="text-center bg-aqua">2016</th>
								</tr>
								<tr>
									<th>Municipio</th>
									<th>Localidad</th>
									<th>CCT</th>
									<th>Plantel</th>
									<th>Especialidad</th>
									<th class="text-right bg-blue">Grupos</th>
									<th class="text-right bg-blue">Alumnos</th>
									<th class="text-right bg-blue">Total</th>
									<th class="text-right bg-blue">Grupos</th>
									<th class="text-right bg-blue">Alumnos</th>
									<th class="text-right bg-blue">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for historico in historicos %}
									<tr>
										<td>{{ historico.municipio }}</td>
										<td>{{ historico.localidad }}</td>
										<td>{{ historico.cct }}</td>
										<td>{{ historico.plantel }}</td>
										<td>{{ historico.especialidad }}</td>
										<td class="text-right">{{ historico.grupos_actual }}</td>
										<td class="text-right">{{ historico.alumnos_actual }}</td>
										<td class="text-right">{{ historico.total_por_grupo_actual }}</td>
										<td class="text-right">{{ historico.grupos }}</td>
										<td class="text-right">{{ historico.alumnos_por_grupo }}</td>
										<td class="text-right">{{ historico.alumnos_total }}</td>
									</tr>
								{% endfor %}

								{% if especialidades_nuevas.count > 0 %}
									<tr>
										<td colspan="12" class="text-center bg-aqua" style="font-size: 1.8rem">Especialidades nuevas</td>
									</tr>
									{% for oferta in especialidades_nuevas %}
										<tr>
											<td>{{ oferta.plantel.domicilio.localidad.municipio }}</td>
											<td>{{ oferta.plantel.domicilio.localidad }}</td>
											<td>{{ oferta.plantel.cct }}</td>
											<td>{{ oferta.plantel }}</td>
											<td>{{ oferta.especialidad }}</td>
											<td class="text-right">{{ oferta.grupos }}</td>
											<td class="text-right">{{ oferta.alumnos }}</td>
											<td class="text-right">{{ oferta.total_proyeccion }}</td>
											<td class="text-right">0</td>
											<td class="text-right">0</td>
											<td class="text-right">0</td>
										</tr>
									{% endfor %}
								{% endif %}

							</tbody>
						</table>

					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>

{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript" src="{% static "revision_oferta/list.js" %}"></script>
{% endblock %}
