{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static 'css/misc.css' %}">
{% endblock %}

{% block page_header %}
	{{ subsistema }}
{% endblock %}

{% block optional_description %}
	<small>Oferta educativa</small>
{% endblock %}

{% block html %}
	<section class="content">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Revisión</h3>
				<div class="box-tools pull-right">
					<!-- Buttons, labels, and many other things can be placed here! -->
					<!-- Here is a label for example -->
					<a href="{% url 'administracion:revision_oferta_comparar' subsistema.id %}?revision={{ revision_id }}" class="btn btn-link">
						Comparar 2017 - 2016
					</a>
				</div><!-- /.box-tools -->
			</div><!-- /.box-header -->
			<div class="box-body">
				<div class="col-md-12">
					<h2>2017</h2>
				</div>
				<div class="col-lg-4 col-xs-12">
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>{{ especialidades_now }}</h3>

							<p>Especialidades</p>
						</div>
						<div class="icon">
							<i class="fa fa-book" aria-hidden="true"></i>
						</div>
						<a href="#" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-xs-12">
					<div class="small-box bg-green">
						<div class="inner">
							<h3>{{ grupos_now }}</h3>

							<p>Grupos</p>
						</div>
						<div class="icon">
							<i class="ion ion-person-stalker"></i>
						</div>
						<a href="#" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
				<div class="col-lg-4 col-xs-12">
					<div class="small-box bg-yellow">
						<div class="inner">
							<h3>{{ alumnos_now }}</h3>

							<p>Alumnos</p>
						</div>
						<div class="icon">
							<i class="ion ion-person"></i>
						</div>
						<a href="#" class="small-box-footer">Más información <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Histórico</h3>
				<div class="box-tools pull-right">
					<!-- Buttons, labels, and many other things can be placed here! -->
					<!-- Here is a label for example -->
				</div><!-- /.box-tools -->
			</div><!-- /.box-header -->
			<div class="box-body">


				{% for historico in subsistema_historico %}
					<div class="col-md-12">
						<h2>{{ historico.anio }}</h2>
					</div>
					<div class="col-lg-4 col-xs-12">
						<!-- small box -->
						<div class="small-box bg-aqua">
							<div class="inner">
								<h3>{{ historico.total_especialidades }}</h3>

								<p>Especialidades</p>
							</div>
							<div class="icon">
								<i class="fa fa-book" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12">
						<!-- small box -->
						<div class="small-box bg-green">
							<div class="inner">
								<h3>{{ historico.total_grupos }}</h3>

								<p>Grupos</p>
							</div>
							<div class="icon">
								<i class="ion ion-person-stalker"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12">
						<!-- small box -->
						<div class="small-box bg-yellow">
							<div class="inner">
								<h3>{{ historico.total_alumnos }}</h3>

								<p>Alumnos</p>
							</div>
							<div class="icon">
								<i class="ion ion-person"></i>
							</div>
						</div>
					</div>
				{% endfor %}
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</section>
	<input type="hidden" id="get-json-url" data-url="{% url 'administracion:revision_oferta_subsistema' subsistema.pk %}">
{% endblock %}

{% block extra_scripts %}
{% endblock %}
