{% extends 'base_subsistemas.html' %}

{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	{{ subsistema }}
{% endblock %}

{% block optional_description %}
	<small>Grupos</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">{{ oferta_educativa }}</h3>
						<div class="box-tools pull-right">
							<a href="{% url 'subsistemas:ofertas' plantel.pk %}" class="btn btn-link pull-right"><i class="ion ion-home"></i> Regresar</a>

						</div>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-hover table-bordered">
							<thead>

								<tr>
									<th class="text-right">Grupo</th>
									<th class="text-right">Alumnos por grupo</th>
									<th class="text-right">Repetidores</th>
									<th class="text-right">Total nuevo ingreso</th>
									<th class="text-right">Total de alumnos</th>
									<th>Opciones</th>
								</tr>
								<tr>
									<form action="{% url 'subsistemas:ofertas_adjust' oferta_educativa.pk %}" method="post">
										{% csrf_token %}
										{{ form.oferta_educativa }}
										{{ form.semestre }}
										<th>{{ form.grupos }}</th>
										<th>{{ form.alumnos }}</th>
										<th>{{ form.reprobados }}</th>
										<th><input type="text" id="total_nuevo_ingreso" class="form-control text-right" placeholder="Nuevo ingreso" readonly></th>
										<th><input type="text" id="total" class="form-control text-right" placeholder="Total" readonly></th>
										<th>
											<button class="btn btn-primary">Guardar</button>
										</th>
									</form>
								</tr>
							</thead>
							<tbody>
								{% for grupo in grupos %}
									<tr>
										<td class="text-right">{{ grupo.grupos }}</td>
										<td class="text-right">{{ grupo.alumnos }}</td>
										<td class="text-right">{{ grupo.reprobados }}</td>
										<td class="text-right">{{ grupo.total_nuevo_ingreso }}</td>
										<td class="text-right">{{ grupo.total }}</td>
										<td>
											<form action="{% url 'subsistemas:poblacion_delete' grupo.id %}" method="post">
												{% csrf_token %}
												<input type="hidden" name="grupo_id" value="{{ grupo.pk }}">
												<button class="btn btn-danger" data-button="delete" type="button">Eliminar</button>
											</form>
										</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="6">Sin resultados</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
					<div class="box-footer">
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static 'bower/bootbox.js/bootbox.js' %}"></script>
	<script type="text/javascript">
		(function () {
			var $btnDeleteGrupo  = $('[data-button="delete"]'),
				$txtTotal        = $('#total'),
				$txtAlumnos      = $('#alumnos'),
				$txtGrupos       = $('#grupos'),
				$txtNuevoIngreso = $('#total_nuevo_ingreso'),
				$txtReprobados   = $('#reprobados');

			$btnDeleteGrupo.on("click", onClickBtnGrupo);
			$txtAlumnos.on("keyup", function () {
				$txtTotal.val($(this).val() * $txtGrupos.val());
			});

			$txtGrupos.on("keyup", function () {
				$txtTotal.val($(this).val() * $txtAlumnos.val());
			});

			$txtReprobados.on("keyup", function () {
				$txtNuevoIngreso.val($txtAlumnos.val() - $(this).val());
			});

			function onClickBtnGrupo() {
				var that = this;
				bootbox.confirm({
					message: "¿Desea eliminar el grupo, esta acción no se puede deshacer?",
					buttons: {
						confirm: {
							label: 'Si',
							className: 'btn-success'
						},
						cancel: {
							label: 'No',
							className: 'btn-danger'
						}
					},
					callback: function (result) {
						if (result) {
							var $form = $(that).closest('form');
							$form.submit();
						} else {
							console.log("no")
						}
					}
				});
			}
		}());
	</script>
{% endblock %}
