{% extends 'base_subsistemas.html' %}

{% block extra_head %}

{% endblock %}

{% block page_header %}
	{{ plantel }}
{% endblock %}

{% block optional_description %}
<small>Nueva especialidad</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-7">
				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title" data-widget="collapse" style="cursor: pointer">+ Agregar especialidad</h3>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						{% if form.errors %}
							<div class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Error</strong> Los campos marcados en rojo son requeridos
							</div>
						{% endif %}
						<form action="{% url 'subsistemas:ofertas_create' plantel.pk %}" method="post" id="oferta-educativa-form">
							{% csrf_token %}
							{{ form.as_p }}
							{% comment %}<div class="row">
								<div class="col-md-4">
									<label>Grupos</label>
									<input type="number" min="1" name="grupos" class="form-control text-right">
								</div>
								<div class="col-md-4">
									<label>Alumnos</label>
									<input type="number" min="1" name="alumnos" class="form-control text-right">
								</div>
								<div class="col-md-4">
									<label>Grupos</label>
									<input type="text" min="1" readonly id="total" class="form-control text-right">
								</div>
							</div>{% endcomment %}
						</form>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button class="btn btn-primary pull-right" type="submit" form="oferta-educativa-form">Guardar</button>
					</div>
					<!-- /.box-footer -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
