<table class="table table-hover">
	<thead>
		<tr>
			<th width="1%" rowspan="2">No.</th>
			<th width="2%" rowspan="2"></th>
			<th width="15%" rowspan="2">Especialidad</th>
			<th width="5%" rowspan="2">Estado</th>
			<th width="5%" rowspan="2">Activar/Desactivar</th>
			<th colspan="3" class="text-center">Proyeccion</th>
		</tr>
		<tr>
			<th width="3%" class="text-right">Grupos</th>
			<th width="10%" class="text-right">Alumnos por grupo</th>
			<th width="10%" class="text-right">Total de alumnos</th>
		</tr>
	</thead>

	<tbody>
		{% for oferta in oferta_educativa %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>
					{% if oferta.activa %}
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
								Opciones
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a href="#!"
									   data-button="open-modal-proyeccion-form"
									   data-toggle="modal"
									   data-target="#agregar-proyeccion-form"
									   data-url="{% url 'subsistemas:ofertas_proyeccion' plantel.pk oferta.pk %}"
									   title="La proyección es el estimado de alumnos que el plantel va a recibir por especialidad">Editar proyección</a>
								</li>
								<li role="presentation">
									<a href="{% url 'subsistemas:ofertas_adjust' oferta.pk %}"
									   data-toggle="tooltip" {% if not is_ajuste_oferta %}disabled{% endif %}
									   title="El ajuste de oferta te servirá para agregar los grupos que reales que va a recbir el plantel">Ajustar
																																			oferta</a>
								</li>
							</ul>
						</div>
					{% endif %}
				</td>
				<td>{{ oferta.especialidad.referencia }}</td>
				<td>{{ oferta.status }}</td>
				<td>
					{% if oferta.activa %}
						<form action="{% url 'subsistemas:ofertas_deactivate' plantel_id=plantel.id %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="especialidad_id" value="{{ oferta.especialidad.id }}">
							<button type="button" class="btn btn-link" data-button="deactivate" data-toggle="tooltip"
									title="Al desactivar una especialidad esta no estará disponible para ser seleccionada por el alumno.">Desactivar
							</button>
						</form>
					{% else %}
						<form action="{% url 'subsistemas:ofertas_activate' plantel_id=plantel.id %}" method="post">
							{% csrf_token %}
							<input type="hidden" name="especialidad_id" value="{{ oferta.especialidad.id }}">
							<button type="button" class="btn btn-link" data-button="activate" data-toggle="tooltip"
									title="Al activar una especialidad esta estará disponible para ser seleccionada por el alumno.">Activar
							</button>
						</form>
					{% endif %}
				</td>
				<td class="text-right">{{ oferta.grupos }}</td>
				<td class="text-right">{{ oferta.alumnos }}</td>
				<td class="text-right">{{ oferta.total_proyeccion }}</td>


			</tr>
		{% empty %}
			<tr>
				<td colspan="4">Sin resultados</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
