<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th colspan="1" style="text-align: center" width="20%">Especialidad</th>
			<th colspan="3" style="text-align: center" width="15%">Matricula esperada</th>
		</tr>
		<tr style="color:#999999">
			<td>Nombre</td>
			<td class="text-right">Grupos</td>
			<td class="text-right">Alumnos</td>
			<td class="text-right">Total</td>
		</tr>
	</thead>
	<tbody>
		{% for oferta in proyeccion %}
			<tr>
				<td>{{ oferta.oferta_educativa.especialidad.referencia }}</td>
				<td class="text-right">{{ oferta.grupos }}</td>
				<td class="text-right">{{ oferta.alumnos }}</td>
				<td class="text-right">{{ oferta.total }}</td>
			</tr>
		{% empty %}
			<tr><td colspan="9">Sin resultados</td></tr>
		{% endfor %}
	</tbody>
</table>
