{% load subsistema_extras %}
{% csrf_token %}
<div class="form-group">
	<div class="col-md-12">
		<label {% if form.referencia.errors %}style="color:red"{% endif %} for="{{ form.referencia.auto_id }}"
			   class="control-label">{{ form.referencia.label }}</label>
		{{ form.referencia }}
	</div>
</div>
<div class="form-group">
	<div class="col-md-12">
		<label {% if form.descripcion.errors %}style="color:red"{% endif %} for="{{ form.descripcion.auto_id }}"
			   class="control-label">{{ form.descripcion.label }}</label>
		{{ form.descripcion }}
	</div>
</div>
<div class="form-group">
	<div class="col-md-12">
		<label {% if form.clave_especialidad.errors %}style="color:red"{% endif %} for="{{ form.clave_especialidad.auto_id }}"
			   class="control-label">{{ form.clave_especialidad.label }}</label>
		{{ form.clave_especialidad }}
	</div>
</div>
<div class="form-group">
	<div class="col-md-12">
		<label {% if form.programa_estudio.errors %}style="color:red"{% endif %} for="{{ form.programa_estudio.auto_id }}"
			   class="control-label">{{ form.programa_estudio.label }}</label>
		{{ form.programa_estudio }}
	</div>
</div>
{{ form.activa }}
<div class="callout callout-warning">
	<h4>Proyección para el ciclo escolar {% get_ciclo_escolar %}</h4>
</div>
<div class="form-group">
	<div class="col-md-12">
		<table class="table" style="table-layout: fixed">
			<tr style="background-color: #eee">
				<td colspan="3" class="text-center text-uppercase text-bold">Matricula esperada</td>
			</tr>
			<tr style="background-color: #eee">
				<td class="text-right text-uppercase text-bold">Grupos</td>
				<td class="text-right text-uppercase text-bold">Alumnos</td>
				<td class="text-right text-uppercase text-bold">Total</td>
			</tr>
			<tr>
				<td>{{ form.grupos0 }}</td>
				<td>{{ form.alumnos0 }}</td>
				<td><input type="text" class="form-control text-right" value="0" id="total0" disabled></td>
			</tr>
		</table>
	</div>
</div>
