{% extends 'base_subsistemas.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}
	{{ plantel.subsistema }} - {{ plantel }}
{% endblock %}

{% block optional_description %}
	<small>OFERTA EDUCATIVA</small>
{% endblock %}

{% block html %}
	<section class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-warning">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<ul class="messages">
							{% for message in messages %}
								<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

		{% endif %}

		<div class="row">
			<div class="col-md-12">

				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Oferta educativa</h3>
						<div class="box-tools">
							<button class="btn btn-link" data-toggle="modal" data-target="#add-oferta-modal">
								<i class="fa fa-plus-circle"></i> Oferta educativa
							</button>
							<a href="{% url 'subsistemas:subsistemas_start' %}" class="btn btn-link"><i class="ion ion-home"></i> Regresar</a>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						{% include 'ofertas/especialidades_snippet.html' %}
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>

	<div class="modal fade" id="agregar-proyeccion-form">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Proyección</h4>
				</div>
				<div class="modal-body">
					<form action="" method="post" id="proyeccion-form">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">Grupos</label>
									<input type="number" class="form-control text-right" data-field="grupos_proyeccion_1" name="grupos" required min="1">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">Alumnos por grupo</label>
									<input type="number" class="form-control text-right" data-field="alumnos_proyeccion_1" name="alumnos" required min="1">
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label class="control-label">Total de alumnos</label>
									<input type="text" class="form-control text-right" data-field="total_proyeccion_1" required readonly>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary" form="proyeccion-form">Guardar</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	{% include "especialidades/partials/add_oferta_modal_snippet.html" with oferta_form=form %}

{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript" src="{% static "ofertas/js/list.js" %}"></script>
	<script type="text/javascript" src="{% static 'especialidades/add_oferta_modal.js' %}"></script>
{% endblock %}
