{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	{{ aspirante.usuario.get_full_name|upper }}
{% endblock %}

{% block optional_description %}
	<small>Aspirante</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Información del aspirante</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary"></span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-4">
								<section class="basic-informacion form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Nombre completo:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.usuario.get_full_name|upper }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">CURP:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.curp }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Fecha nac.:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.fecha_nacimiento }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Sexo:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.get_sexo_display }}</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<section class="address-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Domicilio:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.domicilio.calle }} {{ aspirante.domicilio.numero }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Localidad:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.domicilio.localidad }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Colonia:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.domicilio.colonia }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">C.P.:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.domicilio.codigo_postal }}</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<div class="user-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">País:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.get_pais_nacimiento_display }}</p>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-5 control-label">Usuario:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.usuario.username }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Email:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.usuario.email }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Últ. Login:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.usuario.last_login }}</p>
										</div>
									</div>

								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-4">
								<div class="school-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Esc. procedencia:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.informacion_de_procedencia_related.cct_secundaria }} {{ aspirante.informacion_de_procedencia_related.nombre_secundaria }}</p>
										</div>
									</div>

								</div>
							</div>
							<div class="col-md-4">
								<div class="school-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Fecha egreso:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.informacion_de_procedencia_related.fecha_egreso }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="school-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Primera vez:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ aspirante.informacion_de_procedencia_related.get_primera_vez_display }}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Selección de oferta educativa</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary"></span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>No.</th>
									<th>Plantel</th>
									<th>Especialidad</th>
									<th>Preferencia</th>
								</tr>
							</thead>
							<tbody>
								{% for oferta in aspirante.seleccion_oferta_educativa.all %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ oferta.oferta_educativa.plantel.referencia }}</td>
										<td>{{ oferta.oferta_educativa.especialidad.referencia }}</td>
										<td>{{ oferta.preferencia }}</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="4">El alumno no ha seleccionado su oferta educativa.</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Revisión registro</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">{{ revision.get_estado_display }}</span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-4">
								<section class="check-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Usuario apertura:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ revision.usuario_apertura.get_full_name|upper }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Fecha:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ revision.fecha_apertura }}</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<section class="check-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Usuario revisión:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{% if not revision.usuario_revision %}Sin información{% else %}
												{{ revision.usuario_revision.get_full_name|upper }}{% endif %}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Fecha:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{% if not revision.fecha_revision %}Sin información{% else %}{{ revision.fecha_revision }}{% endif %}</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<section class="check-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Status:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ revision.get_estado_display }}</p>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-5 control-label">Pago:</label>
										<div class="col-sm-7">
											<form action="{% url 'administracion:aspirantes_update_payment' aspirante.id %}" id="payment-status-form" method="post">
												{% csrf_token %}
												<select name="pago_efectuado" id="select-payment-status" class="form-control">
													<option value="1" {% if revision.pago_efectuado %}selected{% endif %}>Si</option>
													<option value="2" {% if not revision.pago_efectuado %}selected{% endif %}>No</option>
												</select>
											</form>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<section class="check-information form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Comentarios:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{% if not revision.comentario %}Ninguno{% else %}{{ revision.comentario }}{% endif %}</p>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Solicitud de pago</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">{{ solicitud_pago.pk }}</span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-4">
								<section class="payment-request form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Referencia:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ solicitud_pago.referencia_pago.referencia }}</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<section class="payment-request form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Fecha generación:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ solicitud_pago.referencia_pago.fecha_generacion }}</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<section class="payment-request form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Vigencia:</label>
										<div class="col-sm-7">
											<p class="form-control-static">{{ solicitud_pago.referencia_pago.vigencia }}</p>
										</div>
									</div>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<section class="payment-request form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Monto:</label>
										<div class="col-sm-7">
											<p class="form-control-static">${{ solicitud_pago.monto }}</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<section class="payment-request form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Descuento:</label>
										<div class="col-sm-7">
											<p class="form-control-static">${{ solicitud_pago.descuento }}</p>
										</div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<section class="payment-request form-horizontal">
									<div class="form-group">
										<label class="col-sm-5 control-label">Total:</label>
										<div class="col-sm-7">
											<p class="form-control-static">${{ solicitud_pago.total }}</p>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Depósito</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary"></span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-4">
								<section class="form-horizontal">
									<div class="form-group">
									    <label class="col-sm-5 control-label">Reporte:</label>
									    <div class="col-sm-7">
									        <p class="form-control-static">{{ solicitud_pago.deposito.reporte_deposito.nombre_original }}</p>
									    </div>
									</div>

								</section>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<section class="form-horizontal">
									<div class="form-group">
									    <label class="col-sm-5 control-label">Referencia</label>
									    <div class="col-sm-7">
									        <p class="form-control-static">{{ solicitud_pago.deposito.referencia }}</p>
									    </div>
									</div>

								</section>
							</div>
							<div class="col-md-4">
								<section class="form-horizontal">
									<div class="form-group">
									    <label class="col-sm-5 control-label">Fecha:</label>
									    <div class="col-sm-7">
									        <p class="form-control-static">{{ solicitud_pago.deposito.fecha }}</p>
									    </div>
									</div>
								</section>
							</div>
							<div class="col-md-4">
								<section class="form-horizontal">
									<div class="form-group">
									    <label class="col-sm-5 control-label">Banco:</label>
									    <div class="col-sm-7">
									        <p class="form-control-static">{{ solicitud_pago.deposito.reporte_deposito.banco.referencia }}</p>
									    </div>
									</div>
								</section>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<section class="form-horizontal">
									<div class="form-group">
									    <label class="col-sm-5 control-label">Abono:</label>
									    <div class="col-sm-7">
									        <p class="form-control-static">${{ solicitud_pago.deposito.abono }}</p>
									    </div>
									</div>

								</section>
							</div>
							<div class="col-md-4">
								<section class="form-horizontal">
									<div class="form-group">
									    <label class="col-sm-5 control-label">Saldo:</label>
									    <div class="col-sm-7">
									        <p class="form-control-static">${{ solicitud_pago.deposito.saldo }}</p>
									    </div>
									</div>

								</section>
							</div>
							<div class="col-md-4">
								<section class="form-horizontal">
									<div class="form-group">
									    <label class="col-sm-5 control-label">Cargo:</label>
									    <div class="col-sm-7">
									        <p class="form-control-static">{% if not solicitud_pago.deposito.cargo %}$0.00{% else %}{{ solicitud_pago.deposito.cargo }}{% endif %}</p>

									    </div>
									</div>

								</section>
							</div>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js" %}"></script>
	<script src="{% static "aspirantes/aspirante.js" %}"></script>
{% endblock %}
