{% extends 'base_administracion.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
Aspirantes
{% endblock %}

{% block optional_description %}
<small>Buscar</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Aspirantes</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">Aspirantes: {{ aspirantes_total }}</span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th colspan="2">
										<label class="control-label">Filtros:</label>
										<form method="get" class="form-inline">
											<input style="width: 49%" type="text" class="form-control" name="first_name" placeholder="Nombre(s)" autofocus>
											<input style="width: 49%" type="text" class="form-control" name="last_name" placeholder="Apellidos">
											<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
										</form>
									</th>
									<th>
										<form method="get" class="form-inline">
											<input style="width: 100%;" type="text" pattern="[0-9]{20}" class="form-control" name="referencia" placeholder="Buscar por referencia de pago">
											<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
										</form>
									</th>
									<th colspan="2">
										<form method="get" class="form-inline">
											<input style="width: 100%" type="text" class="form-control" placeholder="CURP, usuario o correo electrónico" name="term">
										</form>
									</th>
								</tr>
								<tr>
									<th>No.</th>
									<th>Nombre completo</th>
									<th>CURP</th>
									<th>Usuario</th>
									<th>Email</th>
								</tr>
							</thead>
							<tbody>
								{% for aspirante in aspirantes %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>
											<a href="{% url 'administracion:aspirantes_detail' aspirante_id=aspirante.pk %}">{{ aspirante.usuario.get_full_name|upper }}</a>
										</td>
										<td>{% if not aspirante.curp  %}NO APLICA{% else %}{{ aspirante.curp }}{% endif %}</td>
										<td>{{ aspirante.usuario.username }}</td>
										<td>{{ aspirante.usuario.email }}</td>
									</tr>
								{% empty %}
									<tr><td colspan="5">Sin resultados</td></tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
