{% extends 'base_administracion.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
	<link rel="stylesheet" href="{% static "bower/AdminLTE/plugins/select2/select2.min.css" %}">
{% endblock %}

{% block page_header %}
	Sede
{% endblock %}

{% block optional_description %}
	<small>Editar</small>
{% endblock %}

{% block html %}
	<section class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Datos de la sede</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						<input type="hidden" id="get-json-localidades" data-url="{% url 'mgeo:localidades' %}">
						{% if form.errors %}
							<div class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Error</strong> Los campos marcados en rojo son requeridos
							</div>
						{% endif %}
						<form action="{% url 'administracion:sedes_edit' sede.pk %}" method="post" class="form-horizontal" id="sede-form">
							{% include "sedes/form_snippet.html" %}
						</form>
					</div><!-- /.box-body -->
					<div class="box-footer">
						<button class="btn btn-primary" type="submit" form="sede-form">Guardar</button>
						<a href="{% url 'administracion:sedes_list' %}" class="btn btn-default pull-right">Cancelar</a>
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-8"></div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/select2/select2.full.min.js" %}"></script>
	<script type="text/javascript" src="{% static "sedes/js/edit.js" %}"></script>
{% endblock %}
