{% extends 'base_administracion.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}
Sedes
{% endblock %}

{% block optional_description %}
<small>Lista</small>
{% endblock %}

{% block html %}
	<section class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="toolbar toolbar-border-top">
					<a href="{% url 'administracion:sedes_create' %}" class="btn btn-primary">Agregar sede</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Sedes</h3>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>#</th>
									<th>Sede</th>
									<th>Plantel</th>
									<th>Municipio</th>
								</tr>
							</thead>
							<tbody>
								{% for sede in sedes %}
									<tr>
										<td>{{  forloop.counter }}</td>
										<td><a href="{% url 'administracion:sedes_edit' sede.pk %}">{{ sede.referencia }}</a></td>
										<td>{{ sede.plantel.referencia }}</td>
										<td>{{ sede.domicilio.localidad.nombre }}</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="3">Sin resultado</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
					<div class="box-footer">
						<label class="pull-right"><strong>Total {{ sedes.count }}</strong></label>
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
