<div class="row">
	<div class="col-md-12">
		<a href="#email-collapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="email-collapse" class="settings">
			<h3 class="heading">Generales</h3>
		</a>
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 control-label">Folio</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{ aspirante.folio }}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Matricula</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{ aspirante.matricula }}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Nombre</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{ user.get_full_name }}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">CURP</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{ aspirante.curp }}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Sexo</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{ aspirante.get_sexo_display }}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Fecha nac.</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{ aspirante.fecha_nacimiento }}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">País nac.</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{ aspirante.get_pais_nacimiento_display }}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Entidad nac.</label>
				<div class="col-sm-9">
					<p class="form-control-static">{{ aspirante.get_entidad_nacimiento_display }}</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Teléfono</label>
				<div class="col-sm-9">
					<p class="form-control-static">{% if not aspirante.telefono %}0000000000{% else %}{{ aspirante.telefono }}{% endif %}</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<a href="{% url 'aspirantes:profile_basic_info' %}" class="pull-right">Cambiar</a>
				</div>
			</div>
		</div>
	</div>
</div>
