{% extends 'base_aspirantes.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					{% include "messages_tags.html" %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Generales</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<a href="{% url 'aspirantes:profile' %}">
								<i class="ion ion-home"></i> Regresar
							</a>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<form action="{% url 'aspirantes:profile_basic_info' %}" method="post" class="form-horizontal">
							{% include "profile/datos_generales/form_snippet.html" %}
							<div class="form-group">
								<div class="col-md-12">
									<button type="submit" class="btn btn-primary btn-block">Actualizar</button>
								</div>
							</div>
						</form>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
