{% extends 'base_subsistemas.html' %}

{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	{{ plantel.subsistema }} - {{ plantel }}
{% endblock %}

{% block optional_description %}
	<small>Aforo</small>
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-12">
					{% include 'messages.html' %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-10">

				<div class="box box-warning">
					<div class="box-header with-border">
						<h3 class="box-title" data-widget="collapse" style="cursor:pointer;">+ Agregar aula</h3>
						<!-- /.box-tools -->
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<form action="{% url 'subsistemas:aforos_list' plantel.id %}" method="post"
						      class="form-horizontal">
							{% include 'aforos/form_snippet.html' %}
							<button class="btn btn-primary pull-right">Guardar</button>
						</form>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->


				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Aforo</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							{% comment %}<span class="label label-primary">Aulas: {{ aforos.count }}</span>{% endcomment %}
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<thead>
							<tr>
								<th>No.</th>
								<th class="text-center">Aula</th>
								<th class="text-center">Capacidad</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
							{% for aula in aforos %}
								<tr>
									<td>{{ forloop.counter }}</td>
									<td class="text-center">{{ aula.referencia }}</td>
									<td class="text-center">{{ aula.capacidad }}</td>
									<td width="10%">
										<!--<form action="#" data-id="delete-aforo-form">
											{% csrf_token %}
											<button type="button" class="btn btn-danger">Quitar</button>
										</form>-->
										<form action="{% url 'subsistemas:aforos_delete' plantel_id=plantel.id %}"
										      method="post" data-form="delete-aforo">
											{% csrf_token %}
											<input type="hidden" name="aula_id"
											       value="{{ aula.id }}">
											<button type="button" class="btn btn-danger" data-button="delete-aforo">
												Quitar
											</button>
										</form>
									</td>
								</tr>
							{% empty %}
								<tr>
									<td colspan="4">Sin resultados</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript" src="{% static "aforo/js/list.js" %}"></script>
{% endblock %}
