{% extends 'base_administracion.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}Subsistemas{% endblock %}
{% block optional_description %}
	<small>Nuevo</small>{% endblock %}

{% block html %}
	<section class="content">
		{% if error %}
			<div class="row">
				<div class="col-md-8">
					<div class="alert alert-danger">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Error</strong>
						{{ error }}
					</div>
				</div>
			</div>
		{% endif %}
		<form action="{% url 'administracion:subsistemas_create' %}" class="form-horizontal" id="subsistema-form" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-md-8">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">Datos del subsistema</h3>
						</div><!-- /.box-header -->
						<div class="box-body">
							<div class="form-group">
								<label for="referencia" class="col-md-2 control-label">Referencia</label>
								<div class="col-md-10">
									<input autofocus="autofocus" class="form-control" id="referencia" name="referencia" type="text" maxlength="30" required>
								</div>
							</div>

							<div class="form-group">
								<label for="descripcion" class="col-md-2 control-label">Descripción</label>
								<div class="col-md-10">
									<input class="form-control" id="descripcion" name="descripcion" type="text" maxlength="255" required>
								</div>
							</div>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					<div class="box">
						<div class="box-header with-border">
							<h3 class="box-title">Responsable</h3>
						</div><!-- /.box-header -->
						<div class="box-body">
							<div class="form-group">
								<label for="first_name" class="col-md-2 control-label">Nombre</label>
								<div class="col-md-10">
									<input autofocus="autofocus" class="form-control" id="first_name" name="first_name" type="text" required="">
								</div>
							</div>

							<div class="form-group">
								<label for="last_name" class="col-md-2 control-label">Apellidos</label>
								<div class="col-md-10">
									<input class="form-control" id="last_name" name="last_name" type="text" required="">
								</div>
							</div>

							<div class="form-group">
								<label for="email" class="col-md-2 control-label">Email</label>
								<div class="col-md-10">
									<input class="form-control" id="email" name="email" type="email" required="">
								</div>
							</div>

							<div class="form-group">
								<label for="username" class="col-md-2 control-label">Usuario</label>
								<div class="col-md-10">
									<input class="form-control" id="username" name="username" type="text" required="">
								</div>
							</div>

							<div class="form-group">
								<label for="password" class="col-md-2 control-label">Contraseña</label>
								<div class="col-md-10">
									<input class="form-control" id="password" name="password" type="password" required="">
								</div>
							</div>
						</div><!-- /.box-body -->
					</div><!-- /.box -->
				</div>
			</div>

		</form>


		<div class="row">
			<div class="col-md-8">
				<div class="toolbar">
					<button type="submit" class="btn btn-primary" form="subsistema-form">Guardar</button>
					<a href="{% url 'administracion:subsistemas_list' %}" class="btn btn-default pull-right">Cancelar</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}{% endblock %}

