{% extends 'base_administracion.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	{{ subsistema.referencia }}
{% endblock %}

{% block optional_description %}
	<small>Editar subsistema</small>
{% endblock %}

{% block html %}
	<section class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Actualizar datos</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						<form action="{% url 'administracion:subsistemas_update' subsistema.pk %}" method="post" class="form-horizontal"
							  id="subsistema-form">
							{% csrf_token %}
							{{ form.as_p }}
						</form>
					</div><!-- /.box-body -->
					<div class="box-footer">
						<button class="btn btn-primary" type="submit" form="subsistema-form">Actualizar</button>
						<a href="{% url 'administracion:subsistemas_list' %}" class="btn btn-default pull-right">Cancelar</a>
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
