{% extends 'base_administracion.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}Subsistemas{% endblock %}
{% block optional_description %}
	<small>Lista</small>{% endblock %}

{% block html %}

	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="toolbar toolbar-border-top">
					<a href="{% url 'administracion:subsistemas_create' %}" class="btn btn-primary">Agregar subsistema</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Subsistemas</h3>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>Referencia</th>
									<th>Descripción</th>
									<th>Responsable</th>
								</tr>
							</thead>
							<tbody>

								{% for subsistema in subsistemas %}
									<tr>
										<td>
											<a href="{{ subsistema.get_absolute_url }}">{{ subsistema.referencia }}</a>
										</td>
										<td>{{ subsistema.descripcion }}</td>
										<td>
											<div class="dropdown">
												<button class="btn btn-success dropdown-toggle" style="width: 100%;" type="button" id="dropdownMenu1" data-toggle="dropdown">
													{{ subsistema.responsable.get_full_name }}
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
													<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'administracion:update_user' subsistema.responsable.pk %}">Actualizar</a></li>
													<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'administracion:update_password' subsistema.responsable.pk %}">Cambiar
																																														 contraseña</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="3">Sin resultados</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div><!-- /.box-body -->
					<div class="box-footer">

					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}{% endblock %}
