{% if not aspirante.domicilio %}
	<form action="{% url 'aspirantes:save_address' %}" method="post" id="address-form">
		{% csrf_token %}
		{% include 'dashboard/partials/domicilio_form_snippet.html' with form=domicilio_form %}
		<p>
			<button class="btn btn-primary btn-block">Guardar</button>
		</p>
	</form>
{% else %}
	<div class="address-info">
		<div>
			<label class="control-label">Municipio</label>
			<p>{{ aspirante.domicilio.localidad.municipio }}</p>
		</div>
		<div>
			<label class="control-label">Localidad</label>
			<p>{{ aspirante.domicilio.localidad }}</p>
		</div>
		<div>
			<label class="control-label">Colonia</label>
			<p>{{ aspirante.domicilio.colonia }}</p>
		</div>
		<div>
			<label class="control-label">Calle</label>
			<p>{{ aspirante.domicilio.calle }}</p>
		</div>
		<div>
			<label class="control-label">Número</label>
			<p>{{ aspirante.domicilio.numero }}</p>
		</div>
		<div>
			<label class="control-label">Código postal</label>
			<p>{{ aspirante.domicilio.codigo_postal }}</p>
		</div>
		<div>
			<label class="control-label">Entidad de nacimiento</label>
			<p>{{ aspirante.entidad_nacimiento }}</p>
		</div>
		<div>
			<label class="control-label">Teléfono</label>
			<p>{{ aspirante.telefono }}</p>
		</div>
		<div>
			<button class="btn btn-link btn-block" data-button="update-address">Actualizar</button>
		</div>
	</div>
	<div class="address-form hidden">
		<form action="{% url 'aspirantes:update_address' %}" method="post">
			{% csrf_token %}
			{% include 'dashboard/partials/domicilio_form_snippet.html' with form=domicilio_form %}
			<p>
				<button class="btn btn-primary btn-block">Actualizar</button>
			</p>
		</form>
	</div>
{% endif %}
