{% load staticfiles %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}SIEM{% endblock %}</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.6 -->
		<link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{% static "bower/components-font-awesome/css/font-awesome.min.css" %}">
		<!-- Ionicons -->
		<link rel="stylesheet" href="{% static "bower/Ionicons/css/ionicons.min.css" %}">

		{% block extra_head %}{% endblock %}

		<!-- Theme style -->
		<link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">
		<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        -->
		<link rel="stylesheet" href="{% static "adminlte/dist/css/skins/skin-blue.min.css" %}">
	</head>
	<!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
	<body class="hold-transition skin-blue layout-top-nav">
		<div class="wrapper">

			<!-- Main Header -->
			<header class="main-header">
				<!-- Header Navbar -->
				<nav class="navbar navbar-static-top" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="{% url 'aspirantes:dashboard' %}" class="navbar-brand"><b>SI</b>EM</a>
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
								<i class="fa fa-bars"></i>
							</button>
						</div>

						<div class="collapse navbar-collapse" id="navbar-collapse">
							<!-- Navbar Right Menu -->
							{% if user.is_authenticated %}
							<ul class="nav navbar-nav navbar-right">
									<!-- User Account Menu -->
									<li class="dropdown user user-menu">
										<!-- Menu Toggle Button -->
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<!-- The user image in the navbar-->
											{% comment %}<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">{% endcomment %}
											<!-- hidden-xs hides the username on small devices so only the image appears. -->
											<span class="hidden-xs">{{ user.get_full_name }}</span>
										</a>
										<ul class="dropdown-menu">
											<!-- The user image in the menu -->
											<li class="user-header">
												{% comment %}<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">{% endcomment %}
												<p>
													{{ user.get_full_name }}
													<small>{{ user.last_login }}</small>
												</p>
											</li>
											<!-- Menu Body -->
											{% comment %}<li class="user-body">
										<div class="row">
											<div class="col-xs-4 text-center">
												<a href="#">Followers</a>
											</div>
											<div class="col-xs-4 text-center">
												<a href="#">Sales</a>
											</div>
											<div class="col-xs-4 text-center">
												<a href="#">Friends</a>
											</div>
										</div>
										<!-- /.row -->
									</li>{% endcomment %}
											<!-- Menu Footer-->
											<li class="user-footer">
												<div class="pull-left">
													<a href="{% url 'aspirantes:profile' %}" class="btn btn-default btn-flat">Perfil</a>
												</div>
												<div class="pull-right">
													<a href="{% url 'accounts:logout' %}" class="btn btn-default btn-flat">Salir</a>
												</div>
											</li>
										</ul>
									</li>
									<!-- Control Sidebar Toggle Button -->
									{% comment %}<li>
								<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
							</li>{% endcomment %}
								</ul>
							{% endif %}
						</div>
					</div>
				</nav>
			</header>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					{% block content-header %}

					{% endblock %}
				</section>

				<!-- Main content -->
				{% block html %}{% endblock %}


				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Main Footer -->
			<footer class="main-footer">
				<!-- To the right -->
				<div class="pull-right hidden-xs">

				</div>
				<!-- Default to the left -->
				<strong>Copyright &copy; 2016 <a href="http://www.seyc.gob.mx/"> Secretaría de Educación y Cultura de Quintana Roo</a>.</strong> Todos
				los derechos reservados.
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->

		<!-- jQuery 2.2.3 -->
		<script src="{% static "adminlte/plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
		<!-- Bootstrap 3.3.6 -->
		<script src="{% static "adminlte/bootstrap/js/bootstrap.min.js" %}"></script>
		<!-- AdminLTE App -->
		<script src="{% static "adminlte/dist/js/app.min.js" %}"></script>

		{% block extra_scripts %}{% endblock %}

		<!-- Optionally, you can add Slimscroll and FastClick plugins.
             Both of these plugins are recommended to enhance the
             user experience. Slimscroll is required when using the
             fixed layout. -->
		<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41058288-2', 'auto');
            ga('send', 'pageview');

		</script>
	</body>
</html>
