{% extends 'base_aspirantes.html' %}
{% load staticfiles %}
{% load aspirantes_extras %}

{% block extra_head %}
	<style>
		.no-text-decoration{
			text-decoration: none!important;
		}
	</style>

{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-widget widget-user-2">
							<!-- Add the bg color to the header using any of the bg-* classes -->
							<div class="widget-user-header bg-blue">
								<div class="widget-user-image">
									<img class="img-circle" src="{% static "img/student-icon-128.png" %}" alt="User Avatar">
								</div>
								<!-- /.widget-user-image -->
								<h3 class="widget-user-username">{{ request.user.get_full_name }}</h3>
								<h5 class="widget-user-desc">Aspirante: {{ aspirante.folio }}</h5>
								<h5 class="widget-user-desc">{{ aspirante.curp }}</h5>
							</div>
							<div class="box-footer no-padding">
								<ul class="nav nav-stacked">
									<li><a href="{% url 'aspirantes:create_blank_survey' %}">Cuestionario CENEVAL <span class="pull-right badge {% change_color_box porcentaje %}">{% if porcentaje == 100 %}<i class="ion ion-checkmark-round"></i>{% else %}{{ porcentaje }}%{% endif %}</span></a></li>
									<li><a href="{% url 'aspirantes:profile' %}">Domicilio <span class="pull-right badge {% if aspirante.has_domicilio %}bg-green{% else %}bg-red{% endif %}"><i class="ion {% if aspirante.has_domicilio %}ion ion-checkmark-round{% else %}ion-close-round{% endif %}"></i></span></a></li>
									<li><a href="{% url 'aspirantes:profile' %}">Información de procedencia <span class="pull-right badge {% if aspirante.has_informacion_procedencia %}bg-green{% else %}bg-red{% endif %}"><i class="ion {% if aspirante.has_informacion_procedencia %}ion ion-checkmark-round{% else %}ion-close-round{% endif %}"></i></span></a></li>
									{% if has_informacion_completa %}
										<li><a href="{% url 'aspirantes:opciones_educativas' %}">Opciones educativas</a></li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% if has_informacion_completa %}
					<div class="row">
						<div class="col-md-12">
							<div class="box box-solid">
								<div class="box-body no-padding" style="display: block;">
									<ul class="nav nav-pills nav-stacked">
										{% if not revision %}
											<li>
												<a href="{% url 'aspirantes:enviar_registro' %}"><i class="fa fa-envelope-o"></i> Enviar registro y descargar ficha de depósito</a>
											</li>
										{% else %}
											{% if revision.estado == 'R' %}
												{% if not pago %}
													<li>
														<a href="{% url 'aspirantes:ficha_deposito' %}"><i class="fa fa-money" aria-hidden="true"></i> Descarga ficha de depósito</a>
													</li>
												{% else %}
													<li>
														<a href="{% url 'aspirantes:pase_al_examen' %}"><i class="fa fa-ticket" aria-hidden="true"></i> Generar pase al exámen</a>
													</li>
												{% endif %}
											{% elif revision.estado == 'A' %}
												<li>
													<a href="{% url 'reportes:reportes' %}?reporte=ficha_registro&param=id_aspirante:{{ aspirante.pk }}"><i class="fa fa-id-card-o" aria-hidden="true"></i> Descargar pase al exámen</a>
												</li>
											{% endif %}
										{% endif %}
									</ul>
								</div>
								<!-- /.box-body -->
							</div>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Bienvenido. Es importante que realices cada uno de estos pasos. ¡No olvides tu <strong>usuario</strong> y <strong>contraseña</strong>!</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->

						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							{% if messages %}
								<div class="col-md-12">
									{% include "messages_tags.html" %}
								</div>
							{% endif %}
							<div class="col-md-12">
								<div class="callout callout-info" style="font-size: 2rem">
								    <ol>
										<li>Contesta el cuestionario de contexto CENEVAL</li>
										<li>Completar la información de tu perfil</li>
										<li>Elige tus opciones educativas (envía tu registro)</li>
										<li>Realizar pago (se verá reflejado de 48 a 72 hrs)</li>
										<li>Generar pase al examen. (Imprimir pase)</li>
									</ol>
								</div>
							</div>
							{% if has_informacion_completa %}
								<div class="col-md-12">
									{% if revision %}
										{% if revision.estado == 'R' %}
											{% if pago %}
											{% else %}
											{% endif %}
										{% elif revision.estado == 'A' %}
										{% endif %}
									{% else %}

									{% endif %}
								</div>
							{% endif %}
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>

{% endblock %}

{% block extra_scripts %}
{% endblock %}
