<div class="modal fade" id="add-oferta-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Nueva oferta educativa</h4>
			</div>
			<div class="modal-body">
				<form action="{% url 'subsistemas:ofertas_create' %}" method="post" id="oferta-educativa-form">
					{% csrf_token %}
					{% for field in oferta_form %}
						<div class="form-group">
							{{ field }}
						</div>
					{% endfor %}
					<div class="row">
						<div class="col-md-4">
							<label>Grupos</label><input type="number" class="form-control text-right" name="alumnos" min="1" required>
						</div>
						<div class="col-md-4">
							<label>Alumnos por grupo</label><input type="number" class="form-control text-right" name="grupos" min="1" required>
						</div>
						<div class="col-md-4">
							<label>Total de alumnos</label><input type="number" class="form-control text-right" id="total" min="1" readonly>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="submit" form="oferta-educativa-form" class="btn btn-primary">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
