<div class="modal fade" id="add-especialidad-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Nueva especialidad</h4>
			</div>
			<div class="modal-body">
				<form action="{% url 'subsistemas:especialidades_create' %}" method="post" id="add-especialidad-form">
					{% csrf_token %}
					<input type="hidden" name="subsistema" value="{{ subsistema.pk }}">
					<div class="form-group">
						<input type="text" name="referencia" class="form-control input-lg" placeholder="Nombre especialidad" required>
					</div>
					<div class="form-group">
						<textarea name="descripcion" id="" cols="30" rows="10" class="form-control"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="submit" form="add-especialidad-form" class="btn btn-primary">Guardar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
