{% extends 'base_administracion.html' %}

{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	Procesar Pagos
{% endblock %}

{% block optional_description %}
	<small>Finanzas</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Cargar pagos</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary"></span>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<form method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
									<select name="banco" class="form-control">
										<option value="">Banco</option>
										{% for banco in bancos %}
											<option value="{{ banco.id }}">{{ banco.referencia }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6">
									<input id="report-file-input" type="file" name="pagos-file"/>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-12">
									<button class="btn btn-primary" type="submit">Procesar reporte</button>
								</div>
							</div>
						</form>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
		{% if messages %}
			<div class="row">
				<div class="col-md-8">
					{% include 'messages.html' %}
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block extra_scripts %}
	<script src="{% static 'bower/bootstrap-filestyle/src/bootstrap-filestyle.min.js' %}"></script>
	<script src="{% static 'js/procesar_reporte.js' %}"></script>
{% endblock %}
