{% extends 'base_administracion.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "bower/AdminLTE/plugins/datepicker/datepicker3.css" %}">
{% endblock %}

{% block page_header %}Etapas del proceso{% endblock %}
{% block optional_description %}
	<small>Configuación</small>{% endblock %}

{% block html %}
	<section class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Etapas</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						{% if error %}
							<div class="alert alert-danger">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Error</strong>
								{{ error }}
							</div>
						{% endif %}
						<form action="#" method="post" id="etapas-form" name="etapas-form">
							{% csrf_token %}
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Etapa</th>
										<th>Descripción</th>
										<th>Apertura</th>
										<th>Cierre</th>
									</tr>
								</thead>
								<tbody>
									{% for etapa in etapas %}
										<tr>
											<td>{{ etapa.nombre }}</td>
											<td>{{ etapa.descripcion }}</td>
											<td>
												<div class="form-group">
													<div class="input-group date">
														<div class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</div>
														<input type="text" class="form-control pull-right datepicker"
															   name="{{ etapa.nombre }}.apertura" id="{{ etapa.nombre }}-apertura"
															   value="{{ etapa.apertura|date:'Y-m-d'|default:'' }}" required
															   title="{{ etapa.nombre }}-APERTURA">
													</div>
													<!-- /.input group -->
												</div>
											</td>
											<td>
												<div class="form-group">
													<div class="input-group date">
														<div class="input-group-addon">
															<i class="fa fa-calendar"></i>
														</div>
														<input type="text" class="form-control pull-right datepicker"
															   name="{{ etapa.nombre }}.cierre" id="{{ etapa.nombre }}-cierre"
															   value="{{ etapa.cierre|date:'Y-m-d'|default:'' }}" required
															   title="{{ etapa.nombre }}-CIERRE">
													</div>
													<!-- /.input group -->
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</form>
					</div><!-- /.box-body -->
					<div class="box-footer">
						<button class="btn btn-primary" type="submit" form="etapas-form">Guardar</button>
						<a href="{% url 'administracion:dashboard' %}" class="btn btn-default pull-right">Cancelar</a>
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/datepicker/bootstrap-datepicker.js" %}"></script>
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.es.js" %}" charset="utf-8"></script>
	<script type="text/javascript" src="{% static "etapas/js/etapas.js" %}"></script>
{% endblock %}

