{# test template #}
<!-- code for displaying success or error message in template -->

{% extends "base_home.html" %}

{% block content %}
	<div class="content" style="width: 100%; max-width: 960px">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
				<div class="box box-solid box-success">
					<div class="box-header">
						<h3 class="box-title">Recuperar contraseña</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						{% if messages %}
							{% include "messages_tags.html" %}
						{% endif %}

						<!-- Form rendering code for template -->
						<form action="" method="post" class="form-horizontal">
							{% csrf_token %}
							{{ form.as_p }}
							<input type="submit" value="Enviar" class="btn btn-primary pull-right"/>
						</form>
					</div><!-- /.box-body -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}

