{% extends 'base_administracion.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	Problema de Pago
{% endblock %}

{% block optional_description %}
	<small>Finanzas</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Busqueda de referencia</h3>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<div class="form-container" style="padding: 1rem">
							<form action="{% url 'finanzas:problema_de_pago' %}" method="get" class="form-horizontal">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" class="form-control" id="referencia" name="referencia" placeholder="Referencia">
									</div>
								</div>

							</form>
							{% if resumen %}
								<section class="resume">
									<h4>Depositos realizados a la referencia: <strong>{{ referencia }}</strong></h4>
									{% if resumen.cant_depositos != resumen.cant_solicitudes %}
										<div class="alert alert-danger" role="alert">
											<strong>Oops!</strong> Parece haber un problema con esta referencia de pago.
										</div>
									{% else %}
										<div class="alert alert-success" role="alert">
											<strong>Referencia correcta.</strong> Todo está correcto con esta referencia.
										</div>
									{% endif %}
									<strong>Cantidad de depositos realizados:</strong> {{ resumen.cant_depositos }}
									<strong>Cantidad de solicitudes de pagos:</strong> {{ resumen.cant_solicitudes }}
								</section>
								<hr>
							{% endif %}
						</div>
						<div class="query-result">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>Fecha de pago</th>
										<th>Total</th>
										<th>Pagado por</th>
										<th>Fecha de solicitud</th>
										{% if resumen.cant_depositos != resumen.cant_solicitudes %}
											<th></th>
										{% endif %}
									</tr>
								</thead>
								<tbody>
									{% for deposito in depositos %}
										<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ deposito.fecha }}</td>
											<td>$ {{ deposito.abono }}</td>
											{% if deposito.solicitud_pago %}
												<td>
													<a href="#">{{ deposito.aspirante.nombre }}</a>
												</td>
												<td>{{ deposito.solicitud_pago.fecha_solicitud }}</td>
												{% if resumen.cant_depositos != resumen.cant_solicitudes %}
													<td></td>
												{% endif %}
											{% else %}
												<td>Sin información</td>
												<td>Sin información</td>
												<td>
													<a class="btn btn-primary" data-toggle="modal" data-button="search-aspirante" href="#search-aspirante" data-deposito-id="{{ deposito.id }}">Asignar
																																																aspirante</a>
												</td>
											{% endif %}
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>


	<div class="modal fade" id="search-aspirante">
		<div class="modal-dialog" style="max-height: 500px; width: 800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Asignar pago</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" id="deposito-id" value="">
					<input type="hidden" id="solicitud-id" value="">
					<div class="row">
						<form action="{% url 'finanzas:buscar_aspirante' %}" id="search-aspirante-form">
							<div class="col-md-3">
								<input type="text" class="form-control" name="username" placeholder="Usuario">
							</div>
							<div class="col-md-3">
								<input type="text" class="form-control" name="first_name" placeholder="Nombre(s)">
							</div>
							<div class="col-md-3">
								<input type="text" class="form-control" name="last_name" placeholder="Apellidos">
							</div>
							<div class="col-md-3">
								<button class="btn btn-primary btn-block" type="submit">Buscar</button>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-md-12 hidden" id="aspirantes-table-container">
							<table class="table" id="aspirantes-table">
								<thead>
									<tr>
										<th>Usuario</th>
										<th>Nombre</th>
										<th>Apellido</th>
										<th width="10%">Opciones</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="hidden" id="asignar-pago-container">
						<span>¿Está seguro que desea realizar la asignación del pago? </span>
						<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
						<button type="button" class="btn btn-primary" data-button="asignar-pago-confirm" data-url="/finanzas/problema-de-pagos/asignar-pago/solicitud/deposito/">Si</button>
						<span data-msg="message" class="hidden"></span>
					</div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

{% endblock %}

{% block extra_scripts %}
	<script>
        (function () {
            var modalSearchAspirante = $('#search-aspirante'),
                $form                = $('#search-aspirante-form'),
                $hfSolicitudId       = $('#solicitud-id'),
                $hfDepositoId        = $('#deposito-id'),
                $asignarPagoContainer = $('#asignar-pago-container'),
				$asignarPagoConfirm = $('[data-button="asignar-pago-confirm"]');

            $form.on("submit", onSubmitForm);
            $asignarPagoConfirm.on("click", onClickAsignarPagoConfirm);

            function onClickAsignarPagoConfirm() {
				var url = $(this).data('url').replace('solicitud', $hfSolicitudId.val()).replace('deposito', $hfDepositoId.val());
				$.get(url, '', function (response) {
				    var $message = $('[data-msg="message"]'),
						message = response.message;

				    $message.text(message).removeClass('hidden');

					if (response.is_valid){
					    location.reload()
					}
                })
            }

            function onSubmitForm(e) {
                e.preventDefault();
                var url                       = $(this).attr('action'),
                    data                      = $(this).serialize(),
                    $aspirantesTableContainer = $('#aspirantes-table-container'),
                    $aspirantesTable          = $('#aspirantes-table');

                $aspirantesTable.on("click", '[data-button="asignar-pago"]', function () {
                    var solicitudPago = $(this).data('solicitud');

                    $hfSolicitudId.val(solicitudPago);
                    console.log('solicitud: ' + $hfSolicitudId.val());
                    console.log('deposito: ' + $hfDepositoId.val());
                    $asignarPagoContainer.removeClass('hidden');
                });

                $.get(url, data, function (response) {
                    $aspirantesTable.find('tbody').empty();
                    $aspirantesTableContainer.addClass('hidden');

                    if (response.length <= 0) {
                        $aspirantesTable.find('tbody').append('<tr><td colspan="4">Sin resultados</td></tr>');
                    } else {
                        $.each(response, function (index, value) {
                            $aspirantesTable.find('tbody').append('<tr><td>' + value.username + '</td><td>' + value.first_name + '</td><td>' + value.last_name + '</td><td><button class="btn btn-success" data-button="asignar-pago" data-solicitud="' + value.solicitud_pago + '">Asignar pago</button></td></tr>');
                        });
                    }
                    $aspirantesTableContainer.removeClass('hidden');
                });
            }

            modalSearchAspirante.on('show.bs.modal', function (e) {
                $hfDepositoId.val($(e.relatedTarget).data('deposito-id'));
            }).on('hide.bs.modal', function (e) {
                location.reload();
            })
        })();
	</script>
{% endblock %}
