<div class="btn-group">
	<a class="btn btn-default" href="{% url 'subsistemas:ofertas' plantel.pk %}">Oferta</a>
	<a class="btn btn-default" href="{% url 'subsistemas:aforos_list' plantel.pk %}">Aforo</a>
</div>


