{% extends 'base_administracion.html' %}

{% block extra_head %}{% endblock %}

{% block page_header %}Nuevo{% endblock %}
{% block optional_description %}
    <small>Control de usuarios</small>{% endblock %}

{% block html %}
    <section class="content">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Usuario nuevo</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <form action="{% url 'administracion:new_user' %}" method="post" class="form-horizontal" id="new-user">
                            {% include "usuarios/form.html" %}
                        </form>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit" form="new-user">Guardar</button>
                        <a href="{% url 'administracion:users' %}" class="btn btn-default pull-right">Regresar</a>
                    </div><!-- box-footer -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}{% endblock %}
