{% csrf_token %}
{% for field in form.visible_fields %}
    <div class="form-group">
        <label {% if field.errors %}style="color:red"{% endif %} for="{{ field.auto_id }}" class="col-md-2 control-label">{{ field.label }}</label>
        <div class="col-md-10">
            {{ field }}
        </div>
    </div>
{% endfor %}
{% comment %}<div class="form-group">
    <label for="first_name" class="col-xs-2">Nombre</label>
    <div class="col-md-10">
        <input autofocus="autofocus" class="form-control" id="first_name" name="first_name" required="required"
               type="text" value="{{ usr.first_name }}">
    </div>
</div>

<div class="form-group">
    <label for="last_name" class="col-xs-2">Apellidos</label>
    <div class="col-md-10">
        <input class="form-control" id="last_name" name="last_name" type="text" value="{{ usr.last_name }}">
    </div>
</div>

<div class="form-group">
    <label for="email" class="col-xs-2">Email</label>
    <div class="col-md-10">
        <input class="form-control" id="email" name="email" required="required" type="text" value="{{ usr.email }}">
    </div>
</div>

<div class="form-group">
    <label for="username" class="col-xs-2">Usuario</label>
    <div class="col-md-10">
        <input class="form-control" id="username" name="username" required="required" type="text" value="{{ usr.username }}">
    </div>
</div>

<div class="form-group">
    <label for="groups" class="col-xs-2">Grupos</label>
    <div class="col-md-10">
        <select multiple="multiple" class="form-control" id="groups" name="groups" required="required">
            {% for group in groups %}
                <option value="{{ group.id }}"
                        {% if group in user_groups %}selected = "selected"{% endif %}>{{ group.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>{% endcomment %}
