{% csrf_token %}
{% for field in form.visible_fields %}
    <div class="form-group">
        <label {% if field.errors %}style="color:red"{% endif %} for="{{ field.auto_id }}" class="col-md-2 control-label">{{ field.label }}</label>
        <div class="col-md-10">
            {{ field }}
        </div>
    </div>
{% endfor %}
