{% extends 'base_administracion.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}Control de usuarios{% endblock %}

{% block html %}
    <section class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{% include 'messages.html' %}
					</div>
				</div>
			</div>
		{% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
						<h3 class="box-title">Usuarios</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<span class="label label-primary">{{ object_list.count }}</span>
						</div><!-- /.box-tools -->
                    </div><!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-hover">
                            <thead>
								<tr>
									<th colspan="3">
										<a href="{% url 'administracion:new_user' %}" class="btn btn-primary">Agregar usuario</a>
										<div class="btn-group" role="group" aria-label="...">
											<div class="btn-group" role="group">
												<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													Filtrar por <span class="caret"></span>
												</button>
												<ul class="dropdown-menu">
													{% for group in ctx_groups %}
														<li><a href="{% url 'administracion:users' %}?group={{ group.name }}">{{ group.name }}</a></li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</th>
									<th colspan="2">
										<form>
											<div>
												<div class="input-group" style="width: 100%;">
													<input type="text" class="form-control" placeholder="Nombre ó usuario ó email" name="search">
													<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
												</div>
											</div>
										</form>
									</th>
								</tr>
                                <tr>
                                    <th>Nombre completo</th>
                                    <th>Usuario</th>
                                    <th>Correo</th>
                                    <th>Última sesión</th>
									<th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in object_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'administracion:update_user' pk=usuario.pk %}">
                                                {{ usuario.get_full_name }}
                                            </a>
                                        </td>
                                        <td>{{ usuario.username }}</td>
                                        <td>{{ usuario.email }}</td>
                                        <td>{{ usuario.last_login|date:'l d M h:m A' }}</td>
										<td>
											<a href="{% url 'administracion:update_password' pk=usuario.pk %}" class="btn btn-success">Cambiar contraseña</a>
										</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4">Sin resultados</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                    {% comment %}<div class="box-footer">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {% for p in paginator.page_range %}
                                <li {% ifequal p page_obj.number %} class="active"{% endifequal %}><a
                                        href="?{{ queries.urlencode }}&amp;page={{ p }}">{{ p }}</a></li>
                            {% empty %}
                                <li class="active"><a href="?{{ queries.urlencode }}&amp;page=1">1</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- box-footer -->{% endcomment %}
                </div><!-- /.box -->
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}{% endblock %}
