{% extends 'base_administracion.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
Actualizar contraseña
{% endblock %}

{% block optional_description %}
<small>Control de usuario</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-4 col-md-offset">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">{{ usuario.get_full_name }}</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->

						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<form action="{% url 'administracion:update_password' pk=usuario.pk %}" method="post">
							{% csrf_token %}
							<p><input type="password" id="password" name="password" class="form-control" placeholder="Nueva contraseña" required></p>
							<p><input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Repetir contraseña" required></p>
							<p>
								<button class="btn btn-primary">Actualizar</button>
								<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default pull-right">Regresar</a>
							</p>
						</form>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript">
		(function () {
			var password = document.getElementById("password")
					, confirm_password = document.getElementById("confirm_password");

			function validatePassword(){
				if(password.value != confirm_password.value) {
					confirm_password.setCustomValidity("Las contraseñas no coinciden");
				} else {
					confirm_password.setCustomValidity('');
				}
			}

			password.onchange = validatePassword;
			confirm_password.onkeyup = validatePassword;
		}())
	</script>
{% endblock %}
