{% extends 'base_aspirantes.html' %}

{% block extra_head %}
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="alert alert-warning">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						{% include 'messages.html' %}
					</div>
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Mis opciones</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<a href="{% url 'aspirantes:dashboard' %}">
								<i class="ion ion-home"></i> Regresar
							</a>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>No.</th>
									<th>Plantel</th>
									<th>Especialidad</th>
									<th>Preferencia</th>
								</tr>
							</thead>
							<tbody>
								{% for oferta in opciones %}
									<tr>
										<td>{{ forloop.counter }}</td>
										<td>{{ oferta.oferta_educativa.plantel.referencia }}</td>
										<td>{{ oferta.oferta_educativa.especialidad.referencia }}</td>
										<td>{{ oferta.preferencia }}</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="4">El alumno no ha seleccionado su oferta educativa.</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
