{% extends 'base_aspirantes.html' %}
{% load staticfiles %}

{% block extra_head %}
	<style>
		.ten-options,
		.five-options,
		#first-option {
			margin-bottom: 1rem;
		}
	</style>
	<link rel="stylesheet" href="{% static "bower/AdminLTE/plugins/select2/select2.min.css" %}">
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Selecciona tus opciones educativas</h3>
						<div class="box-tools pull-right">
							<!-- Buttons, labels, and many other things can be placed here! -->
							<!-- Here is a label for example -->
							<a href="{% url 'aspirantes:dashboard' %}">
								<i class="ion ion-home"></i> Inicio
							</a>
						</div><!-- /.box-tools -->
					</div><!-- /.box-header -->
					<div class="box-body" style="font-size: 1.8rem">
						<div class="box box-success box-solid">
							<div class="box-header with-border">
								<h3 class="box-title">Nota</h3>
								<!-- /.box-tools -->
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<p>
									¡Es importante que antes que envíes tus opciones educativas estés seguro de ellas, ya que una vez que las envíes no podrás modificarlas!
								</p>
								<p>Deberás de elegir un número determinado de opciones educativas de acuerdo al municipio donde estudiarás:</p>

								<ul>
									<li>Benito Juárez: 10  opciones.</li>
									<li>Solidaridad, Cozumel, Isla Mujeres, Puerto Morelos, Tulum y Othón P. Blanco: 5 opciones.</li>
									<li>Felipe Carrillo Puerto, José María Morelos, Lázaro Cárdenas y Bacalar: 3 opciones.</li>
								</ul>
								<p>
									<strong>*Por cada plantel, se podrá elegir máximo 3 especialidades.</strong>
								</p>
								<p>
									<strong>*La selección de las opciones educativas será responsabilidad exclusiva del aspirante y de sus padres o tutores</strong>
								</p>
							</div>
							<!-- /.box-body -->
						</div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-4 text-center bg-light-blue"><h4>Municipio</h4></div>
								<div class="col-md-4 text-center bg-light-blue"><h4>Plantel</h4></div>
								<div class="col-md-4 text-center bg-light-blue"><h4>Especialidad</h4></div>
							</div>
						</div>
						<div class="container-fluid">
							<form action="{% url 'aspirantes:opciones_educativas' %}" method="post" id="options-form">
								{% csrf_token %}
								<br>
								<div class="row" id="first-option">
									<div class="col-md-4"><select class="form-control" data-id="municipio_1" data-municipio="1" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_1" data-plantel="1" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_1" id="" class="form-control" data-id="oferta_1" data-oferta="1" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row five-options three-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_2" data-municipio="2" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_2" data-plantel="2" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_2" id="" class="form-control" data-id="oferta_2" data-oferta="2" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row five-options three-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_3" data-municipio="3" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_3" data-plantel="3" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_3" id="" class="form-control" data-id="oferta_3" data-oferta="3" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row five-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_4" data-municipio="4" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_4" data-plantel="4" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_4" id="" class="form-control" data-id="oferta_4" data-oferta="4" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row five-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_5" data-municipio="5" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_5" data-plantel="5" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_5" id="" class="form-control" data-id="oferta_5" data-oferta="5" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row ten-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_6" data-municipio="6" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_6" data-plantel="6" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_6" id="" class="form-control" data-id="oferta_6" data-oferta="6" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row ten-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_7" data-municipio="7" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_7" data-plantel="7" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_7" id="" class="form-control" data-id="oferta_7" data-oferta="7" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row ten-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_8" data-municipio="8" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_8" data-plantel="8" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_8" id="" class="form-control" data-id="oferta_8" data-oferta="8" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row ten-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_9" data-municipio="9" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_9" data-plantel="9" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_9" id="" class="form-control" data-id="oferta_9" data-oferta="9" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<div class="row ten-options hidden">
									<div class="col-md-4"><select class="form-control" data-id="municipio_10" data-municipio="10" data-field="municipio" required>
										<option value="">Municipio</option>
										{% for municipio in municipios %}
											<option value="{{ municipio.id }}">{{ municipio.nombre.upper }}</option>
										{% endfor %}
									</select></div>
									<div class="col-md-4"><select class="form-control" data-id="plantel_10" data-plantel="10" data-field="plantel" required>
										<option value="">Plantel</option>
									</select></div>
									<div class="col-md-4"><select name="plantel_especialidad_10" id="" class="form-control" data-id="oferta_10" data-oferta="10" data-field="plantel_especialidad"
																  required>
										<option value="">Especialidad</option>
									</select></div>
								</div>

								<br>
								<p>
									<button class="btn btn-primary btn-block">Guardar</button>
								</p>
							</form>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
	<input type="hidden" value="{% url 'aspirantes:api_get_planteles_by' %}" data-url="api_get_planteles_by">
	<input type="hidden" value="{% url 'aspirantes:api_get_especialidades_by' %}" data-url="api_get_especialidades_by">
	<input type="hidden" value="{% url 'aspirantes:api_get_aspirante_opciones_educativas' %}" data-url="api_get_aspirante_opciones_educativas">
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static 'bower/lodash/lodash.js' %}"></script>
	<script type="text/javascript" src="{% static 'bower/AdminLTE/plugins/select2/select2.full.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bower/bootbox.js/bootbox.js' %}"></script>
	<script type="text/javascript" src="{% static 'seleccion_oferta_educativa/js/start.js' %}"></script>
{% endblock %}
