{% extends 'base_subsistemas.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
	<link rel="stylesheet" href="{% static "bower/AdminLTE/plugins/select2/select2.min.css" %}">
{% endblock %}

{% block page_header %}Plantel{% endblock %}
{% block optional_description %}
	<small>Nueva</small>{% endblock %}

{% block html %}
	<section class="content">
		{% if form.errors %}
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert"
						aria-hidden="true">&times;</button>
				<strong>Error</strong> Los campos marcados en rojo son requeridos
			</div>
		{% endif %}
		<form action="{% url 'subsistemas:planteles_create' %}" class="form-horizontal" id="subsistema-form" method="post">
			{% include "planteles/form.html" %}
		</form>

		<div class="row">
			<div class="col-md-8">
				<div class="toolbar">
					<a href="{% url 'subsistemas:subsistemas_start' %}" class="btn btn-default pull-right">Cancelar</a>
					<button type="submit" class="btn btn-primary" form="subsistema-form">Guardar</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-8"></div>
		</div>
	</section>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/select2/select2.full.min.js" %}"></script>
	<script type="text/javascript" src="{% static "planteles/js/create.js" %}"></script>
{% endblock %}
