{% csrf_token %}

<div class="row">
	<div class="col-md-8">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Datos del plantel</h3>
			</div><!-- /.box-header -->
			<div class="box-body">
			<input type="hidden" id="get-json-localidades" data-url="{% url 'mgeo:localidades' %}">
				<div class="form-group">
					<label {% if form.referencia.errors %}style="color:red"{% endif %}
					       for="{{ form.referencia.auto_id }}"
					       class="col-md-3 control-label">{{ form.referencia.label }}</label>
					<div class="col-md-9">
						{{ form.referencia }}
					</div>
				</div>
				<div class="form-group">
					<label {% if form.cct.errors %}style="color:red"{% endif %} for="{{ form.cct.auto_id }}"
					       class="col-md-3 control-label">{{ form.cct.label }}</label>
					<div class="col-md-9">
						{{ form.cct }}
					</div>
				</div>

            <div class="form-group">
					<label {% if form.telefono.errors %}style="color:red"{% endif %} for="{{ form.telefono.auto_id }}"
					       class="col-md-3 control-label">{{ form.telefono.label }}</label>
					<div class="col-md-9">
						{{ form.telefono }}
					</div>
				</div>

            <div class="form-group">
					<label {% if form.pagina_web.errors %}style="color:red"{% endif %} for="{{ form.pagina_web.auto_id }}"
					       class="col-md-3 control-label">{{ form.pagina_web.label }}</label>
					<div class="col-md-9">
						{{ form.pagina_web }}
					</div>
				</div>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Domicilio</h3>
			</div><!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					<label {% if form.municipio.errors %}style="color:red"{% endif %} for="{{ form.municipio.auto_id }}"
					       class="col-md-3 control-label">{{ form.municipio.label }}</label>
					<div class="col-md-9">
						{{ form.municipio }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.localidad.errors %}style="color:red"{% endif %} for="{{ form.localidad.auto_id }}"
					       class="col-md-3 control-label">{{ form.localidad.label }}</label>
					<div class="col-md-9">
						{{ form.localidad }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.colonia.errors %}style="color:red"{% endif %} for="{{ form.colonia.auto_id }}"
					       class="col-md-3 control-label">{{ form.colonia.label }}</label>
					<div class="col-md-9">
						{{ form.colonia }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.calle.errors %}style="color:red"{% endif %} for="{{ form.calle.auto_id }}"
					       class="col-md-3 control-label">{{ form.calle.label }}</label>
					<div class="col-md-9">
						{{ form.calle }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.numero.errors %}style="color:red"{% endif %} for="{{ form.numero.auto_id }}"
					       class="col-md-3 control-label">{{ form.numero.label }}</label>
					<div class="col-md-9">
						{{ form.numero }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.codigo_postal.errors %}style="color:red"{% endif %} for="{{ form.codigo_postal.auto_id }}"
					       class="col-md-3 control-label">{{ form.codigo_postal.label }}</label>
					<div class="col-md-9">
						{{ form.codigo_postal }}
					</div>
				</div>
			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">Responsable</h3>
			</div><!-- /.box-header -->
			<div class="box-body">
<div class="form-group">
					<label {% if form.first_name.errors %}style="color:red"{% endif %} for="{{ form.first_name.auto_id }}"
					       class="col-md-3 control-label">{{ form.first_name.label }}</label>
					<div class="col-md-9">
						{{ form.first_name }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.last_name.errors %}style="color:red"{% endif %} for="{{ form.last_name.auto_id }}"
					       class="col-md-3 control-label">{{ form.last_name.label }}</label>
					<div class="col-md-9">
						{{ form.last_name }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.email.errors %}style="color:red"{% endif %} for="{{ form.email.auto_id }}"
					       class="col-md-3 control-label">{{ form.email.label }}</label>
					<div class="col-md-9">
						{{ form.email }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.username.errors %}style="color:red"{% endif %} for="{{ form.username.auto_id }}"
					       class="col-md-3 control-label">{{ form.username.label }}</label>
					<div class="col-md-9">
						{{ form.username }}
					</div>
				</div>
			<div class="form-group">
					<label {% if form.password.errors %}style="color:red"{% endif %} for="{{ form.password.auto_id }}"
					       class="col-md-3 control-label">{{ form.password.label }}</label>
					<div class="col-md-9">
						{{ form.password }}
					</div>
				</div>

			</div><!-- /.box-body -->
		</div><!-- /.box -->
	</div>
</div>
