{% extends 'base_subsistemas.html' %}

{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}Planteles{% endblock %}
{% block optional_description %}
    <small>Lista</small>{% endblock %}

{% block html %}
    <section class="content">
    <div class="row">
			<div class="col-md-8">
				<div class="toolbar toolbar-border-top">
					<a href="{% url 'subsistemas:planteles_create' %}" class="btn btn-primary">Nuevo plantel</a>
				</div>
			</div>
		</div>
    <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Planteles</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Referencia</th>
                                    <th>CCT</th>
                                    <th>Nivel de demanda</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for plantel in planteles %}
                                    <tr>

                                        <td><a href="{% url 'subsistemas:planteles_edit' plantel.pk %}">{{ plantel.referencia }}</a></td>
                                        <td>{{ plantel.cct }}</td>
                                        <td>{{ plantel.nivel_demanda }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="4">Sin resultados</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            {% for p in paginator.page_range %}
                                <li {% ifequal p page_obj.number %} class="active"{% endifequal %}><a
                                        href="?{{ queries.urlencode }}&amp;page={{ p }}">{{ p }}</a></li>
                            {% empty %}
                                <li class="active"><a href="?{{ queries.urlencode }}&amp;page=1">1</a></li>
                            {% endfor %}
                        </ul>
                    </div><!-- box-footer -->
                </div><!-- /.box -->
            </div>
        </div>



    </section>
{% endblock %}

{% block extra_scripts %}{% endblock %}

