{% extends 'base_errors.html' %}

{% block error_title %}Sitio en mantenimiento{% endblock %}

{% block error_message %}Estamos trabajando para brindarle un mejor servicio, disculpe las molestias{% endblock %}

{% block back_url %}
	<a href="http://www.seyc.gob.mx/">Ir al sitio de la Secretaría</a>
	<br><br>
	<a href="https://www.facebook.com/paenmsqroo/">Página de Facebook del PAENMS</a>
 {% endblock %}
