{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/x-icon" href="{% static "img/iconoseyc.png" %}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Title</title>

		<link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{% static "bower/font-awesome/css/font-awesome.min.css" %}">
		<!-- Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Comfortaa|Muli" rel="stylesheet">
		<style>
			body {
				background:            url("{% static "img/03_greca_gris.png" %}");
				background-repeat:     no-repeat;
				background-position:   right top;
				background-attachment: fixed;
				font-family:           'Muli', sans-serif;
			}
			header{
				padding: 1.5rem;
				margin-bottom: 2rem;
			}
			h1{
				font-size: 4rem;
			}
		</style>
		{% block extra_head %}{% endblock %}
	</head>
	<body>

		<div class="wrapper">
			<header>
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<img src="{% static "img/01_logos.png" %}" class="img-responsive" alt="" style="margin: 0 auto">
						</div>
					</div>
				</div>
			</header>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
						<h1>{% block error_title %}{% endblock %}</h1>
						<h2>{% block error_message %}{% endblock %}</h2>
						<h3>
							{% block back_url %}
								<a href="{% url 'home:home' %}">Regresar</a>
							{% endblock %}
						</h3>
					</div>
				</div>
			</div>

		</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static "adminlte/plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "adminlte/bootstrap/js/bootstrap.min.js" %}"></script>
	</body>
</html>
