{% extends 'base_administracion.html' %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
	Cambiar contraseña
{% endblock %}

{% block optional_description %}
	<small>{{ request.user.get_full_name }}</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-6">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Nueva contraseña</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						{% include "messages_tags.html" %}
						<form method="post">
							{% csrf_token %}
							<p>
								{{ form.old_password.label_tag }}
								{{ form.old_password }}
								{{ form.old_password.errors }}
							</p>
							<p>
								{{ form.password.label_tag }}
								{{ form.password }}
								{{ form.password.errors }}
							</p>
							<p>
								{{ form.confirm_password.label_tag }}
								{{ form.confirm_password }}
								{{ form.confirm_password.errors }}
							</p>

							<button type="submit" class="btn btn-primary">Cambiar</button>
						</form>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
