{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AdminLTE 2 | Log in</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{% static "adminlte/plugins/iCheck/square/blue.css" %}">

    </head>
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>SI</b>EM</a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form action="{% url 'accounts:login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        {{ form.username }}
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        {{ form.password }}
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    {{ form.rememberme }} Recordar
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                {% comment %}<div class="social-auth-links text-center">
                    <p>- ó -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Inicia sesión con facebook</a>
                </div>{% endcomment %}
                <!-- /.social-auth-links -->

                {% comment %}<a href="#">I forgot my password</a><br>
                <a href="register.html" class="text-center">Register a new membership</a>{% endcomment %}
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Por favor introduzca su usuario y contraseña correctamente.
                    </div>
                {% endif %}
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

        <!-- jQuery 2.2.3 -->
        <script src="{% static "adminlte/plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
        <!-- Bootstrap 3.3.6 -->
        <script src="{% static "adminlte/bootstrap/js/bootstrap.min.js" %}"></script>
        <!-- iCheck -->
        <script src="{% static "adminlte/plugins/iCheck/icheck.min.js" %}"></script>

        <script>
            $(function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-blue',
                    radioClass: 'iradio_square-blue',
                    increaseArea: '20%' // optional
                });
            });
        </script>
    </body>
</html>
