{% load administracion_extras %}
{% load staticfiles %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title %}SIEM{% endblock %}</title>
		<!-- Tell the browser to be responsive to screen width -->
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- Bootstrap 3.3.6 -->
		<link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">
		<!-- Font Awesome -->
		<link rel="stylesheet" href="{% static "bower/font-awesome/css/font-awesome.min.css" %}">
		<!-- Ionicons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

		{% block extra_head %}{% endblock %}

		<!-- Theme style -->
		<link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">
		<!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect.
        -->
		<link rel="stylesheet" href="{% static "adminlte/dist/css/skins/skin-blue.min.css" %}">
	</head>
	<!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

			<!-- Main Header -->
			<header class="main-header">

				<!-- Logo -->
				<a href="{% url 'administracion:dashboard' %}" class="logo">
					<!-- mini logo for sidebar mini 50x50 pixels -->
					<span class="logo-mini">SIEM</span>
					<!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><b>SIEM</b></span>
				</a>

				<!-- Header Navbar -->
				<nav class="navbar navbar-static-top" role="navigation">
					<!-- Sidebar toggle button-->
					<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
					<!-- Navbar Right Menu -->
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<!-- User Account Menu -->
							<li class="dropdown user user-menu">
								<!-- Menu Toggle Button -->
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<!-- The user image in the navbar-->
									{% comment %}<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">{% endcomment %}
									<!-- hidden-xs hides the username on small devices so only the image appears. -->
									<i class="fa fa-user" aria-hidden="true"></i>
									<span class="hidden-xs">{{ request.user.get_full_name }}</span>
								</a>
								<ul class="dropdown-menu">
									<!-- The user image in the menu -->
									<li class="user-header">
										{% comment %}<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">{% endcomment %}
										<p>
											{{ request.user.get_full_name }}
											<small>{{ request.user.last_login }}</small>
										</p>
									</li>
									<!-- Menu Body -->
									{% comment %}<li class="user-body">
										<div class="row">
											<div class="col-xs-4 text-center">
												<a href="#">Followers</a>
											</div>
											<div class="col-xs-4 text-center">
												<a href="#">Sales</a>
											</div>
											<div class="col-xs-4 text-center">
												<a href="#">Friends</a>
											</div>
										</div>
										<!-- /.row -->
									</li>{% endcomment %}
									<!-- Menu Footer-->
									<li class="user-footer">{% comment %}
										<div class="pull-left">
											<a href="#" class="btn btn-default btn-flat">Perfil</a>
										</div>{% endcomment %}
										<div class="pull-right">
											<a href="{% url 'accounts:logout' %}" class="btn btn-default btn-flat">Salir</a>
										</div>
									</li>
								</ul>
							</li>
							<!-- Control Sidebar Toggle Button -->
							{% comment %}<li>
								<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
							</li>{% endcomment %}
						</ul>
					</div>
				</nav>
			</header>
			<!-- Left side column. contains the logo and sidebar -->
			<aside class="main-sidebar">

				<!-- sidebar: style can be found in sidebar.less -->
				<section class="sidebar">
					<!-- Sidebar Menu -->
					<ul class="sidebar-menu">
						<li class="header">MENÚ</li>
						{% comment %}<li><a href="{% url 'administracion:dashboard' %}"><i class="fa fa-circle-o text-red"></i> <span>Inicio</span></a></li>{% endcomment %}
						{% include "menu.html" %}
						{% if user.is_staff %}
							<li><a href="/admin"><i class="fa fa-book"></i> <span>Django Admin</span></a></li>
							<li><a href="/administracion/view-siem-log-file"><i class="fa fa-book"></i> <span>Log file</span></a></li>
						{% endif %}
					</ul>
					<!-- /.sidebar-menu -->
				</section>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>
						{% block page_header %}Page Header{% endblock %}
						{% block optional_description %}
							<small></small>{% endblock %}
					</h1>
				</section>

				<!-- Main content -->
				{% block html %}{% endblock %}


				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Main Footer -->
			<footer class="main-footer">
				{% include "footer_snippet.html" %}
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED JS SCRIPTS -->

		<!-- jQuery 2.2.3 -->
		<script src="{% static "adminlte/plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
		<!-- Bootstrap 3.3.6 -->
		<script src="{% static "adminlte/bootstrap/js/bootstrap.min.js" %}"></script>
		<!-- AdminLTE App -->
		<script src="{% static "adminlte/dist/js/app.min.js" %}"></script>

		{% block extra_scripts %}{% endblock %}

		<!-- Optionally, you can add Slimscroll and FastClick plugins.
             Both of these plugins are recommended to enhance the
             user experience. Slimscroll is required when using the
             fixed layout. -->
		<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-41058288-2', 'auto');
            ga('send', 'pageview');

		</script>
	</body>
</html>
