



{% load static from staticfiles %}
	<script type = "text/javascript" src = "{% static "js/administracion/reporte/reporte_subsistema.js" %}"></script>

<table class = "table table-condensed table-bordered">
	<tr>
		<td>
			<select id = "select-subsistema" class = "input-xlarge">
				</select>
		</td>
        <td>
            <select id = "lista-reporte-subsistema" class = "input-xlarge">
                <option value=""></option>
                <option value="1">Total de alumnos que eligieron al subsistema con resumen de plantel, municipio y especialidad</option>
                <option value="2">Total de aspirantes asignados en especialidades que no fueron de su primera opción</option>
                <option value="3">Total de aspirantes asignados por subsistema con resumen de municipio, plantel y especialidad</option>
				</select>
        </td>
        <td style = "width: 70px; text-align:center">
			<a name = "subsistema" href="#" class = "btn btn-mini" data-reporte="aspirantes_eligieron" data-format="pdf">
				PDF
			</a>
            <a name = "subsistema" href="#" class = "btn btn-mini" data-reporte="aspirantes_eligieron" data-format="xls">
				XLS
			</a>
		</td>
	</tr>
</table>

    <hr>
    <h5>Reportes concentrados de subsistemas</h5>

<table class = "table table-condensed table-bordered">
	<tr>
		<td style = "">Concentrado de Subsistemas elegidos por municipio.</td>
		<td style = "width: 70px; text-align:center">
			<a href = "/administracion/reporte/subsistema/imprimir/pdf/elegido" class = "btn btn-mini">
				PDF
			</a>
            <a href = "/administracion/reporte/subsistema/imprimir/xls/elegido" class = "btn btn-mini">
				XLS
			</a>
		</td>
	</tr>

	<tr>
		<td style = "">Concentrado de Subsistemas asignados por municipio. (Resultados de asignación)</td>
		<td style = "text-align:center">
			<a href = "/administracion/reporte/subsistema/imprimir/pdf/asignado" class = "btn btn-mini">
				PDF
			</a>
            <a href = "/administracion/reporte/subsistema/imprimir/xls/asignado" class = "btn btn-mini">
				XLS
			</a>
		</td>
	</tr>

	<tr>
		<td style = "">Listado General de Oferta Educativa</td>
		<td style = "text-align:center">
			<a href = "/administracion/reporte/subsistema/imprimir/pdf/oferta_interno" class = "btn btn-mini">
				PDF
			</a>
            <a href = "/administracion/reporte/subsistema/imprimir/xls/oferta_interno" class = "btn btn-mini">
				XLS
			</a>
		</td>
	</tr>

</table>

