{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
{% endblock %}

{% block page_header %}
    Reportes
    <small>Configuración del proceso</small>
{% endblock %}

{% block optional_description %}
    <small></small>
{% endblock %}

{% block html %}
    <ul class="nav nav-tabs">
    <li {% if tab == 'reporte-aspirante' %} class="active" {% endif %}><a href="/administracion/reporte/aspirante">Aspirantes</a></li>
    <li {% if tab == 'reporte-plantel' %} class="active" {% endif %}><a href="/administracion/reporte/plantel/">Plantel</a></li>
    <li {% if tab == 'reporte-subsistema' %} class="active" {% endif %} ><a href="/administracion/reporte/subsistema/">Subsistemas</a></li>
    </ul>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Aspirantes</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Plantel</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">Subsistemas</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                {% include "reporte_aspirante.html" %}
            </div>
            <div class="tab-pane" id="tab_2">
                {% include "reporte_plantel.html" %}
            </div>
            <div class="tab-pane" id="tab_3">
                {% include "reporte_subsistema.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}




