 <table class="table table-condensed table-bordered">
        <tr>
            <form method="post" action="">
                {% csrf_token %}
                <td>Pase de exámen del aspirante</td>
                <th>Folio:</th>
                <td>
                    <input type="text" size="12" id="folio-aspirante" name="folio"/>
                </td>
                <td style="width: 70px; text-align: center">
                    <button type="submit" class="btn btn-mini" id="pdf" name="pdf">
                        <!--<i class = "icon-print"></i>-->
                        PDF
                    </button>
                    <button type="submit" class="btn btn-mini" id="xls" name="xls">
                        <!--<i class="fa fa-file-excel-o"></i>-->
                        XLS
                    </button>
                </td>
            </form>
        </tr>
    </table>

    <hr>
    <h5>Reportes generales</h5>
    <table class="table table-condensed table-bordered">
        <tr>
            <td style="">Preregistro</td>
            <td style="width: 70px; text-align:center">
                <a href="/administracion/reporte/aspirante/pdf/procedencia" class="btn btn-mini">
                    PDF
                </a>
                <a href="/administracion/reporte/aspirante/xls/procedencia" class="btn btn-mini">
                    XLS
                </a>
            </td>
        </tr>
        <tr>
            <td style="">Datos generales</td>
            <td style="width: 70px; text-align:center">
                <a href="/administracion/reporte/aspirante/pdf/generales" class="btn btn-mini">
                    PDF
                </a>
                <a href="/administracion/reporte/aspirante/xls/generales" class="btn btn-mini">
                    XLS
                </a>
            </td>
        </tr>
        <tr>
            <td style="">Orientación Vocacional</td>
            <td style="width: 70px; text-align:center">
                <a href="/administracion/reporte/aspirante/pdf/vocacional" class="btn btn-mini">
                    PDF
                </a>
                <a href="/administracion/reporte/aspirante/xls/vocacional" class="btn btn-mini">
                    XLS
                </a>
            </td>
        </tr>
        <tr>
            <td style="">Aspirantes registrados en periodo extemporáneo</td>
            <td style="width: 70px; text-align:center">
                <a href="/administracion/reporte/aspirante/pdf/extemporaneo" class="btn btn-mini">
                    PDF
                </a>
                <a href="/administracion/reporte/aspirante/xls/extemporaneo" class="btn btn-mini">
                    XLS
                </a>
            </td>
        </tr>
        <tr>
            <td style="">Apirantes con pago efectuado y que no han concluído Ceneval</td>
            <td style="width: 70px; text-align:center">
                <a href="/administracion/reporte/aspirante/xls/sin-concluir" class="btn btn-mini">
                    XLS
                </a>
            </td>
        </tr>
        <tr>
            <td style=""> Concentrado del comportamiento del registro</td>
            <td style="width: 70px; text-align:center">
                <a href="/administracion/reporte/aspirante/pdf/comportamiento-registro" class="btn btn-mini">
                    PDF
                </a>
            </td>
        </tr>
    </table>
