

{% load static from staticfiles %}
	<script type = "text/javascript" src = "{% static "js/administracion/reporte/reporte_plantel.js" %}"></script>

<table class = "table table-condensed table-bordered">
	<tr>
		<td style = "">Aspirantes que eligieron al plantel como su primera opción</td>
		<td style = "65%">
			<select class = "input-xlarge" id = "select-plantel">
			</select>
		</td>
		<td style = "text-align: center">
			<a name = "primera-opcion" href="#" class = "btn btn-mini" data-format="pdf">
                PDF
			</a>
            <a name = "primera-opcion" href="#" class = "btn btn-mini" data-format="xls">
                XLS
			</a>
		</td>
	</tr>
    <tr>
        <td>Planteles Oferta educativa por municipio y subsistema</td>
        <td rowspan="2">
            <select class = "input-xlarge" id = "select-municipio">
            </select>
        </td>
        <td style = "text-align: center">
			<a name = "segunda-opcion" href="#" class = "btn btn-mini" data-format="pdf">
                PDF
			</a>
            <a name = "segunda-opcion" href="#" class = "btn btn-mini" data-format="xls">
                XLS
			</a>
		</td>
    </tr>
    <tr>
        <td>Resultados de asignación por municipio y subsistema</td>
        <td style = "text-align: center">
			<a name = "tercera-opcion" href="#" class = "btn btn-mini" data-format="pdf">
                PDF
			</a>
            <a name = "tercera-opcion" href="#" class = "btn btn-mini" data-format="xls">
                XLS
			</a>
		</td>
    </tr>
</table>

