{% extends 'base_aspirantes.html' %}
{% load staticfiles %}

{% block extra_head %}
	<style>
		.separator {
			margin-bottom: 0;
		}

		.settings {

		}

		.settings .heading {
			color: #000000;
		}

		.settings .value {
			font-size: 1.8rem;
			color:     #000;
		}

		.box-body {
			font-size: 1.8rem;
		}
	</style>
{% endblock %}

{% block html %}
	<div class="content">
		{% if messages %}
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					{% include "messages_tags.html" %}
				</div>
			</div>
		{% endif %}
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Información básica</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						{% include "profile/datos_generales/basic_info_snippet.html" %}
						<hr class="separator">
						{% include "profile/domicilio/domilicio_snippet.html" %}
						<hr>
						{% include "profile/informacion_procedencia/informacion_procedencia_snippet.html" %}
						<hr>
						<div class="row">
							<div class="col-md-12">
								<a href="#email-collapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="email-collapse" class="settings">
									<h3 class="heading">Correo electrónico</h3>
									<span class="value" id="user-email">{{ user.email }}</span>
									<span class="pull-right">Cambiar</span>
								</a>
								<div class="collapse" id="email-collapse">
									<hr>
									<form method="POST" class="form-horizontal" role="form" id="email-form" action="{% url 'aspirantes:profile_email' %}">
										{% csrf_token %}
										<div class="form-group">
											<label for="" class="col-sm-2 control-label">Email</label>
											<div class="col-sm-10">
												<input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-10 col-md-offset-2">
												<button class="btn btn-primary" type="button" data-button="update-email">Guardar</button>
												<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#email-collapse" aria-expanded="false"
														aria-controls="email-collapse">
													Cancelar
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-12">
								<a href="#password-collapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="password-collapse" class="settings">
									<h3 class="heading">Contraseña</h3>
									<span class="value">****</span>
									<span class="pull-right">Cambiar</span>
								</a>
								<div class="collapse" id="password-collapse">
									<hr>
									<form method="POST" class="form-horizontal" role="form" id="password-form" action="{% url 'aspirantes:profile_password' %}">
										{% csrf_token %}
										<div class="form-group">
											<label for="" class="col-sm-4 control-label" title="Contraseña anterior">Contraseña anterior</label>
											<div class="col-sm-8">
												<input type="password" class="form-control" name="old_password">
											</div>
										</div>
										<div class="form-group">
											<label for="" class="col-sm-4 control-label" title="Contraseña anterior">Contraseña nueva</label>
											<div class="col-sm-8">
												<input type="password" class="form-control" name="new_password">
											</div>
										</div>
										<div class="form-group">
											<label for="" class="col-sm-4 control-label" title="Contraseña anterior">Confirmar contraseña</label>
											<div class="col-sm-8">
												<input type="password" class="form-control" name="confirm_password">
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-8 col-md-offset-4">
												<button class="btn btn-primary" type="submit">Guardar</button>
												<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#email-collapse" aria-expanded="false"
														aria-controls="email-collapse">
													Cancelar
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>

{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js" %}"></script>
	<script src="{% static 'profile/js/email.js' %}"></script>
	<script src="{% static 'profile/js/password.js' %}"></script>
{% endblock %}
