{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "bower/AdminLTE/plugins/daterangepicker/daterangepicker.css" %}">
{% endblock %}

{% block page_header %}
	Configuraciones
{% endblock %}

{% block optional_description %}
	<small>Enlaces</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Crear enlace</h3>
					</div><!-- /.box-header -->

					<div class="box-body">
						{% include "form_errors_snippet.html" %}
						<form action="{% url 'administracion:enlaces_create' %}" method="post" class="form-horizontal" id="enlace-form">
							{% csrf_token %}
							{% for field in form %}
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">{{ field.label_tag }}</label>
									<div class="col-sm-10">
										{{ field }}
									</div>
								</div>
							{% endfor %}
							<input type="hidden" name="fecha_inicio" id="fecha_inicio">
							<input type="hidden" name="fecha_fin" id="fecha_fin">
							<input type="hidden" name="hora_inicio" id="hora_inicio">
							<input type="hidden" name="hora_fin" id="hora_fin">
						</form>

					</div><!-- /.box-body -->
					<div class="box-footer">
						<button class="btn btn-primary" form="enlace-form" name="_save">Guardar</button>
						<button class="btn btn-primary" form="enlace-form" name="_save_and_add_another">Guardar y agregar otro</button>
						<a href="{% url 'administracion:enlaces' %}" class="btn btn-link pull-right">Cancelar</a>
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/daterangepicker/moment.min.js" %}"></script>
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/daterangepicker/daterangepicker.js" %}"></script>
	<script type="text/javascript" src="{% static "enlaces/js/create.js" %}"></script>
{% endblock %}
