{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "bower/AdminLTE/plugins/daterangepicker/daterangepicker.css" %}">
{% endblock %}

{% block page_header %}
	Configuraciones
{% endblock %}

{% block optional_description %}
	<small>Enlaces</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Guardar</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						{% include "form_errors_snippet.html" %}
						<form action="{% url 'administracion:enlaces_edit' enlace.pk %}" method="post" class="form-horizontal" id="enlace-form">
							{% include "enlaces/partials/form_snippet.html" %}
						</form>
					</div><!-- /.box-body -->
					<div class="box-footer">
						<button class="btn btn-primary" form="enlace-form" name="_save">Guardar</button>
						<button class="btn btn-primary" form="enlace-form" name="_save_and_add_another">Guardar y seguir editando</button>
						<a href="{% url 'administracion:enlaces' %}" class="btn btn-link pull-right">Cancelar</a>
					</div><!-- box-footer -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/daterangepicker/moment.min.js" %}"></script>
	<script type="text/javascript" src="{% static "bower/AdminLTE/plugins/daterangepicker/daterangepicker.js" %}"></script>
	<script type="text/javascript" src="{% static "enlaces/js/edit.js" %}"></script>
{% endblock %}
