{% extends 'base_administracion.html' %}
{% load staticfiles %}

{% block extra_head %}
	<link rel="stylesheet" href="{% static "css/misc.css" %}">
{% endblock %}

{% block page_header %}
	Configuraciones
{% endblock %}

{% block optional_description %}
	<small>Enlaces</small>
{% endblock %}

{% block html %}
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="seq-toolbar">
					<a href="{% url 'administracion:enlaces_create' %}" class="btn btn-primary">Crear enlace</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-border">
						<h3 class="box-title">Enlaces</h3>
					</div><!-- /.box-header -->
					<div class="box-body no-padding">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Municipio</th>
									<th width="20%">Fechas</th>
									<th>Horario</th>
									<th>Domicilio</th>
									<th>Teléfono</th>
									<th>Extensión</th>
									<th width="15%"></th>
								</tr>
							</thead>
							<tbody>
								{% for enlace in enlaces %}
									<tr>
										<td>{{ enlace.municipio_name }}</td>
										<td>{{ enlace.fecha_inicio }} {% if enlace.fecha_fin != enlace.fecha_inicio %} al
											{{ enlace.fecha_fin }} {% endif %}</td>
										<td>De {{ enlace.hora_inicio }} a {{ enlace.hora_fin }}</td>
										<td>{{ enlace.domicilio|default_if_none:"" }}</td>
										<td>{{ enlace.telefono|default_if_none:"" }}</td>
										<td>{{ enlace.extension|default_if_none:"" }}</td>
										<td>
											<div class="dropdown">
												<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
														data-toggle="dropdown">
													Opciones
													<span class="caret"></span>
												</button>
												<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
													<li role="presentation"><a href="{% url 'administracion:enlaces_edit' enlace.pk %}">Editar</a></li>
													<li role="presentation">
														<form action="{% url 'administracion:enlaces_delete' enlace.pk %}" id="enlace-{{ enlace.pk }}" method="post">
															{% csrf_token %}
														</form>
														<a href="#!" data-button="delete-enlace" data-form="#enlace-{{ enlace.pk }}">Eliminar</a>
													</li>
												</ul>
											</div>
										</td>
									</tr>
								{% empty %}
									<tr>
										<td colspan="7">Sin enlaces</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static "bower/bootbox.js/bootbox.js" %}"></script>
	<script type="text/javascript" src="{% static "enlaces/js/list.js" %}"></script>
{% endblock %}
